.about {
    padding: 0 0 calc(var(--base-gap) * 1.5) 0;
}

.about .title__block {
    margin-bottom: calc(var(--base-gap) * 2);
}

.about .title {
    margin: 0 0 var(--base-gap) 0;
    font-size: calc(var(--base-font-size)* 3.0);
    line-height: calc(var(--base-font-line-height)* 1.25);
    font-family: var(--base-bold-font);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, var(--base-color-1), var(--base-color-3));
    display: inline-block;
}

.about .container {
    display: flex;
    margin: 0 calc(var(--base-gap) * 4);
    padding: 0 calc(var(--base-gap) * 8);
    flex-direction: column;
}

.about .description {
    display: flex;
    flex-direction: row;    
}

.about .description__block{
    width: 100%;
    margin-right: calc(var(--base-gap) * 2.0);   
}

.about .description h2 {
    display: block;
    margin: 0 0 calc(var(--base-font-size) * 1.25) 0;
    font-size: calc(var(--base-font-size) * 2.0);
    line-height: calc(var(--base-font-line-height) * 1);
    font-family: var(--base-bold-font);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, var(--base-color-1), var(--base-color-2));

}

.about .description h3 {
    display: block;
    margin: 0 0 calc(var(--base-font-size) * 1.25) 0;
    font-size: calc(var(--base-font-size) * 1.5);
    line-height: calc(var(--base-font-line-height) * 1);
    font-family: var(--base-bold-font);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, var(--base-color-1), var(--base-color-2));
    display: inline-block;
}

.about .description p{
    margin: 0;
    padding: 0;
    margin-bottom: calc(var(--base-font-size) * 1);
    font-size: calc(var(--base-font-size) * 1.25);
    line-height: calc(var(--base-font-size) * 1.5);
    color: var(--main-text-color);
}
.about .description ul {
    margin: 0;
    padding: 0;
    padding-left: calc(var(--base-font-size) * 2);
    margin-bottom: calc(var(--base-font-size) * 2);
    font-size: calc(var(--base-font-size) * 1.25);
    line-height: calc(var(--base-font-size) * 1.25);
    color: var(--main-text-color);
}

.about .description li {
    margin-bottom: calc(var(--base-font-size) * 1.25);
}

.about .description li:last-child {
    margin-bottom: 0;
}

@media (max-width: 1220px) {
    .about .container {
        padding: 0;
    }

    .about .description {
        flex-direction: column;
    }

    .about .title {
        font-size: calc(var(--base-font-size) * 2);
    }

    .about .description h2 {
        font-size: calc(var(--base-font-size) * 1.5);
        margin-bottom: calc(var(--base-font-size) * 2);
    }

    .about .about__banners {
        display: flex;
        width: 100%;
        background-color: var(--item-border);
        justify-content: center;
        gap: calc(var(--base-font-size) * 0.5);
    }
}


@media (max-width: 610px) {
    .about .container {
        margin: 0 calc(var(--base-gap) * 2);
    }
}

@media (max-width: 350px) {
    .about .container {
        margin: 0 calc(var(--base-gap) * 1.25);
    }
}