.events {
    padding: 0 0 calc(var(--base-gap) * 1.5) 0;
}

.events .title__block {
    margin-bottom: calc(var(--base-gap) * 2);
}

.events .title {
    margin: 0 0 var(--base-gap) 0;
    font-size: calc(var(--base-font-size)* 3.0);
    line-height: calc(var(--base-font-line-height)* 1.25);
    font-family: var(--base-bold-font);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, var(--base-color-1), var(--base-color-3));
    display: inline-block;
}

.events .container {
    display: flex;
    margin: 0 calc(var(--base-gap) * 4);
    padding: 0 calc(var(--base-gap) * 8);
    flex-direction: column;
}


.events .event {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--base-gap);
}

.events .event__list {
    grid-column: 1/8;
    display: flex;
    flex-wrap: wrap;
    gap: var(--base-gap);
    justify-content: space-between;
}

.events .event__item {
    display: flex;
    gap: calc(var(--base-gap) * 2);
    flex-direction: row;
    align-items: center;
    border: 1px solid #dadada;
    border-radius: var(--base-font-size);
    width: 100%;
}

/* картинка */

.events .event__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: calc(var(--base-gap) * 5) calc(var(--base-gap) * 2);
    min-height: calc(var(--base-gap) * 21.75);
    height: 100%;
    width: calc(var(--base-gap) * 21);
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: var(--base-font-size);
    border-bottom-left-radius: var(--base-font-size);
    overflow: hidden;
}

.events .one {
    background-image: url(../img/event-fon/foodfon.png);
}

.events .two {
    background-image: url(../img/event-fon/flauerfon.png);
}

.events .tree {
    background-image: url(../img/event-fon/neva.png);
}

.events .four {
    background-image: url(../img/event-fon/ritailfon.png);
}
.events .event__logo {
    width: 260px;
}

.events .event__date {
    text-align: center;
    font-size: calc(var(--base-font-size)* 1.25);
}
.events .event__date-day{
text-transform: capitalize;
}
.events .event__date p {
    margin: 0;
    line-height: calc(var(--base-gap) * 1.25);
}

.events .event__date p:not(:last-child) {
    margin-bottom: calc(var(--base-gap) / 4);
}

/* текст */
.events .event__description {
    display: flex;
    padding: calc(var(--base-gap) * 2) calc(var(--base-gap) * 2.5) calc(var(--base-gap) * 2) 0;
    flex-direction: column;
    /* min-height: calc(var(--base-gap) * 21.75); */
    height: 100%;
}

.events .event__title-main {
    margin: 0;
    margin-bottom: calc(var(--base-gap) / 2);
    font-size: calc(var(--base-font-size)* 1.5);
    line-height: calc(var(--base-font-line-height)* 1.5);
    font-family: var(--base-bold-font);
}

.events .event__title {
    margin: 0;
    margin-bottom: calc(var(--base-gap) / 2);
    font-family: var(--base-font);
    font-weight: 400;
    color: var(--events-acsent);
}

.events .event__text {
    margin: 0;
    margin-bottom: var(--base-gap);
    font-size: calc(var(--base-font-size)* 1.25);
    line-height: calc(var(--base-font-line-height)* 1.0);
    color: var(--main-text-color);
}

.events .event__bottom {
    margin-top: auto;
}

.events .event__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: calc(var(--base-gap) / 2);
}

.events .event__text-count {
    margin: 0;
    margin-bottom: calc(var(--base-gap) / 2);
    font-size: calc(var(--base-font-size)* 1.5);
}

.events .event__text-caterory {
    margin: 0;
    margin-bottom: calc(var(--base-gap) * 1.5);
    font-size: calc(var(--base-font-size)* 1.0);
    color: var(--sub-text-color);
}

.events .event__button {
    padding: calc(var(--base-gap) / 2) calc(var(--base-gap) * 1.5);
    color: var(--sub-text-color);
    border: 1px solid var(--sub-text-color);
    border-radius: calc(var(--base-gap) / 2);
}

.events .event__button {
    padding: calc(var(--base-gap) / 2) calc(var(--base-gap) * 1.5);
    color: var(--sub-text-color);
    border: 1px solid var(--sub-text-color);
    border-radius: calc(var(--base-gap) / 2);
    background-color:#fff;
    transition: border-color 0.5s ease, color 0.5s ease, background-color 0.5s ease;
}

.events .event__button-main {
    color: #fff;
    border-color: #fff;
    background: linear-gradient(to right, var(--base-color-1), var(--base-color-2));
    outline: none;
    transition: border-color 0.5s ease;
}

/* баннеры */
.events .event__banners {
    grid-column: 8/13;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--base-gap);
}

.events .event__banners-img {
    width: 610px;
}

.events .event__banners-img:not(:last-child) {
    margin-bottom: calc(var(--base-gap) * 1);
}

.events .white {
    color:#fff;
}

@media (max-width: 1300px) {
    .events .event__item {
        flex-direction: column;
    }

    .events .one {
        background-image: url(../img/event-fon/foodfon-line.png);
    }

    .events .two {
        background-image: url(../img/event-fon/flauer-line.png);
    }

    .events .tree {
        background-image: url(../img/event-fon/neva-line.png);
    }

    .events .four {
        background-image: url(../img/event-fon/retalion-line.png);
    }

    .events .event__block {
        flex-direction: row;
        padding: calc(var(--base-gap) * 2.5) calc(var(--base-gap) * 2) 0 calc(var(--base-gap) * 2);
        min-height: calc(var(--base-gap) * 10);
        width: 100%;
        gap: var(--base-gap);
        justify-content: flex-start;
        border-top-right-radius: var(--base-gap);
        border-top-left-radius: var(--base-gap);
        border-bottom-left-radius: 0;
    }

    .events .event__logo {
        width: 200px;
        align-self: start;
    }

    .events .event__date {
        text-align: left;
        font-size: calc(var(--base-font-size) * 1.0);
        line-height: calc(var(--base-font-size) * 1.0);
    }

    .events .event__description {
        padding: calc(var(--base-gap) *1.5) calc(var(--base-gap) * 2);
    }

    .events .event__buttons {
        gap: calc(var(--base-gap) / 2);
    }
}

@media (max-width: 1220px) {
    .events .container {
        padding: 0;
    }

    .events .title {
        font-size: calc(var(--base-font-size) * 2);
    }
}

@media (max-width: 850px) {
    .events .event__list {
        grid-column: 1/13;
    }

    .events .event__banners {
        order: 1;
        grid-column: 1/13;
    }

    .events .event {
        flex-direction: column;
    }

    .events .event__item {
        flex-direction: row;
        gap: var(--base-font-size);
    }

    .events .event__block {
        flex-direction: column;
        justify-content: space-between;
        padding: calc(var(--base-gap) * 2) calc(var(--base-gap) * 1);
        min-height: calc(var(--base-gap) * 16.5);
        width: calc(var(--base-gap) * 12.5);
        border-top-left-radius: var(--base-font-size);
        border-top-right-radius: 0;
        border-bottom-left-radius: var(--base-font-size);
    }

    .events .one {
        background-image: url(../img/event-fon/foodfon.png);
    }

    .events .two {
        background-image: url(../img/event-fon/flauerfon.png);
    }

    .events .tree {
        background-image: url(../img/event-fon/neva.png);
    }

    .events .four {
        background-image: url(../img/event-fon/ritailfon.png);
    }

    .events .event__banners {
        flex-direction: row;
        align-items: flex-start;
    }

    .events .event__description {
        padding: calc(var(--base-gap) * 1) calc(var(--base-gap) * 1.5) calc(var(--base-gap) * 1) 0;
        /* min-height: calc(var(--base-gap) * 16.5); */
    }

    .events .event__logo {
        width: 150px;
        margin-bottom: var(--base-gap);
    }

    .events .event__title-main {
        font-size: calc(var(--base-font-size)* 1.25);
    }

    .events .event__title {
        font-size: calc(var(--base-font-size)* 0.875);
    }

    .events .event__text {
        font-size: calc(var(--base-font-size)* 0.875);
    }

    .events .event__text-count {
        font-size: calc(var(--base-font-size)* 1.25);
    }

    .events .event__text-caterory {
        font-size: calc(var(--base-font-size)* 1.0);
        margin-bottom: var(--base-gap);
    }

    .events .event__button {
        font-size: calc(var(--base-font-size)* 0.75);
    }
}

@media (max-width: 610px) {
    .events .container {
        margin: 0 calc(var(--base-gap) * 2);
    }

    .events .event__item {
        flex-direction: column;
        gap: 0;
    }

    .events .event__block {
        padding: calc(var(--base-gap) * 1.5) calc(var(--base-gap) * 2);
        min-height: calc(var(--base-gap) * 4);
        width: 100%;
        height: 60%;
        gap: var(--base-gap);
        justify-content: space-between;
        border-top-right-radius: var(--base-gap);
        border-top-left-radius: var(--base-gap);
        border-bottom-left-radius: 0;
    }

    .events .event__logo {
        width: 100px;
    }

    .events .event__date {
        font-size: calc(var(--base-font-size)* 0.875);
    }

    .events .event__description {
        padding: calc(var(--base-gap) * 1) calc(var(--base-gap) * 1.5) calc(var(--base-gap) * 1.5) calc(var(--base-gap) * 1.5);
        /* min-height: calc(var(--base-gap) * 16.5); */
    }

    .events .event__text {
        margin-bottom: calc(var(--base-font-size)* 1.5);
    }

    .events .event__button-main {
        width: 100%;
    }

    .events .event__buttons {
        gap: calc(var(--base-gap) / 1);
    }

    .events .event__banners {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 350px) {
    .events .container {
        margin: 0 calc(var(--base-gap) * 1.25);
    }
}

@media (any-hover: hover) {

    .events .event__button:hover,
    .events .event__button:focus-visible {
        background-color: var(--base-color-2);
        color: #fff;
        border-color: var(--sub-text-color);
    }

    .events .event__button:active{
        background-color: var(--base-color-2);
        color: #fff;
        border-color: var(--base-color-5);
    }

    .events .event__button-main:hover {
        border-color: var(--base-color-1);
    }

    .events .event__button-main:focus-visible {
        border-color: var(--base-color-1);
    }

    .events .event__button-main:active {
        border-color: var(--base-color-5);
    }
 
}