:root {
    --main-background-color: rgba(255, 255, 255, 1);
    --main-text-color: rgba(51, 51, 51, 1);
    --sub-text-color: rgba(153, 153, 153, 1);
    --border-color: rgba(153, 153, 153, 1);
    --base-color-1: rgba(5, 55, 200, 1);
    --base-color-2: #005BAA;
    --base-color-4: #3762CF;
    --base-color-3: rgba(5, 202, 5, 1);
    --link-black-color: rgba(51, 51, 51, 1);
    --base-font: 'Fors';
    --base-bold-font: 'Fors ExtraBold';
    --base-font-size: 1em;
    --base-font-line-height: 1em;
    --base-gap: 1em;
    --base-border-radius: 1em;
}

@font-face {
    font-family: 'Fors';
    src: local('TT Fors'), url('../fonts/fors/TT Fors Trial Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Fors ExtraBold';
    src: local('TT Fors ExtraBold'), url('../fonts/fors/TT Fors Trial ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

img,
svg {
    max-width: 100%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.list-reset {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.btn {
    padding: 16px 32px;
    border-radius: 16px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

body {
    background: var(--main-background-color);
    font-family: var(--base-font);
    line-height: var(--base-font-line-height);
    color: var(--main-text-color);
    width: 100%;
    padding: 0;
    margin: 0;
}

/* Header */

.header .header__block {
    position: relative;
    margin: calc(var(--base-gap) * 3.5) calc(var(--base-gap) * 4);
    display: flex;
    flex-direction: column;
}

.header .header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header__logo {
    display: flex;
    justify-content: space-between;
    max-width: 396px;
    width: 100%;
}

.header .header__logo-brand {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 282px;
    height: 107px;
}

.header .header__logo-name {
    font-size: 34px;
    line-height: 37px;
    letter-spacing: -3%;
    font-family: var(--base-bold-font);
    font-weight: 700;
    color: var(--base-color-2);
}

.header .header__logo-description {
    font-size: 21px;
    line-height: 21px;
    font-family: var(--base-font);
    font-weight: 400;
    color: var(--base-color-2);

}

.header .header__logo-img {
    display: flex;
    width: 98px;
    height: 106px;
}

.header .header__link-top {
    color: var(--base-color-1);
    font-size: calc(var(--base-font-size) * 1.25);
}

.header .header__link {
    font-size: calc(var(--base-font-size) * 1.5);
    color: #fff;
}

.header .header__list-top {
    gap: calc(var(--base-gap) * 1);
}

.header .header__menu {
    margin: 24px 0 0;
    padding: 16px 84px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, var(--base-color-4), var(--base-color-3));
    border-radius: 32px;
}

.header .header__list-menu {
    width: 100%;
    flex-wrap: wrap;

    justify-content: space-around;
    gap: calc(var(--base-gap) * 2);
}

.header .header__link-top:hover {
    color: var(--base-color-3);
}

.header .header__link:hover {
    color: var(--base-color-1);
}

.header .header__burger {
    display: none;
}

@media (max-width: 1199px) {

    .header .header__menu {
        padding: 24px 44px;
    }
}

@media (max-width: 1020px) {
    .header .header__block {
        margin: 32px calc(var(--base-gap) * 4);
        display: flex;
        flex-direction: column;
    }

    .header .header__top {
        flex-direction: column;
        gap: 16px;
        margin-bottom: 32px;
    }

    .header .header__logo {
        align-self: start;
    }

    .header .header__list-top {
        align-self: end;
    }

    .header .header__menu {
        margin: 0px calc(var(--base-gap) * -4);
        border-radius: 0;
        padding: 32px 44px;
    }
}

@media (max-width: 610px) {
    .header .header__block {
        margin: 0 0 32px 0;
        padding: 20px 32px 24px 32px
    }

    .header .header__top {
        gap: 24px;
        margin-bottom: 0px;
    }

    .header .header__logo {
        justify-content: flex-start;
        align-self: flex-start;
        flex-wrap: wrap;
    }

    .header .header__logo-brand {
        width: 196px;
    }

    .header .header__burger {
        display: block;
        margin-top: 16px;
        width: 40px;
        height: 40px;
        color: #fff;
    }

    .header .header__burger:hover {
        color: var(--base-color-1);
    }

    .header .header__list-top {
        flex-wrap: wrap;
        align-items: end;
        justify-content: flex-start;
        align-self: flex-start;
    }

    .header .header__menu {
        display: none;
    }

    .tel {
        max-width: 590px;
        width: 100%;
        display: block;
    }

    .header .header__block::before {
        content: '';
        position: absolute;
        top: 150px;
        left: 0;
        width: 100%;
        height: 80px;
        background: linear-gradient(to right, var(--base-color-4), var(--base-color-3));
        z-index: -5;
    }

    .header .header__logo-description {
        font-size: 15px;
    }

    .header .header__logo-name {
        font-size: 24px;
    }

    .header .header__logo-img {
        width: 64px;
        margin-right: 20px;
    }

    .header .header__link-top:hover {
        color: var(--base-color-3);
    }

    .tel {
        max-width: 590px;
        width: 100%;
        display: block;
    }

    .header .header__link-top {
        color: #fff;
    }

}




