/* Стили отображения*/
.display_block {
    display: block;
}

.display_inline_block {
    display: inline-block;
}

.display_inline {
    display: inline;
}

.display_grid {
    display: grid;
}

.display_flex_column {
    display: flex;
    flex-direction: column;
}

.display_flex_row {
    display: flex;
    flex-direction: row;
}

/* базовые стили выше*/
.start_page {
    padding-top: calc(var(--base-gap) * 4);
}

.start_page .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: calc(var(--base-gap) * 4);
}

.start_page .header .container {
    padding: 0 calc(var(--base-gap) * 5.25);
    max-width: calc(var(--base-font-size) * 90);
    width: 100%;
}

.start_page .header .header__menu {
    width: 100%;
    margin: 0;
    border-radius: 0;
    justify-content: center;
    padding: calc(var(--base-gap) * 1.5) 0;
}

.start_page .header .header__links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.start_page .header .header__top {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.start_page .header .header__tel {
    padding: calc(var(--base-gap) / 4) 0 calc(var(--base-gap) / 4) calc(var(--base-gap) * 1.5);
    margin-right: calc(var(--base-gap) * 2);
    font-size: calc(var(--base-font-size) * 1.25);
    color: var(--go-button);
    background-image: url(../img/phone.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    transition: color 0.3s ease, background-image 0.3s ease;
}

.start_page .header .header__button {
    padding: calc(var(--base-gap) / 2) calc(var(--base-gap) * 4);
    border-radius: calc(var(--base-font-size) * 4);
    font-size: calc(var(--base-font-size) * 1.25);
    background-color: transparent;
    color: var(--go-button);
    border: 1px solid var(--go-button);
    transition: background-color 0.5s ease, border-color 0.3s ease, color 0.3s ease;
}



@media (max-width: 1199px) {
    .start_page {
        padding-top: calc(var(--base-gap) * 3);
    }

    .start_page .header .header__logo {
        align-self: flex-start;
    }

    .start_page .header .header__top {
        flex-direction: column;
        margin-bottom: calc(var(--base-gap) * 2);
        gap: calc(var(--base-gap) * 2);
    }
}

@media (max-width: 1020px) {
    .start_page .header .container {
        padding: 0 calc(var(--base-gap) * 3.5);
    }

    .start_page .header .header__button {
        padding: calc(var(--base-gap) / 2) calc(var(--base-gap) * 3);
    }
}

@media (max-width: 750px) {
    .start_page {
        padding-top: calc(var(--base-gap) * 1.5);
    }

    .start_page .header .container {
        padding: 0 calc(var(--base-gap) * 2);
    }

    .start_page .header .header__logo-name {
        font-size: calc(var(--base-font-size) * 1.38);
        line-height: calc(var(--base-font-size) * 1.0);
    }

    .start_page .header .header__logo-img {
        width: calc(var(--base-font-size) * 3.5);
        height: calc(var(--base-font-size) * 3.7);
    }

    .start_page .header .header__logo {
        width: calc(var(--base-font-size) * 16);
        justify-content: space-between;
    }

    .start_page .header .header__logo-description {
        font-size: 14px;
        line-height: 14px;
    }

    .start_page .header .header__logo-brand {
        width: 180px;
        height: 64px;
    }

    .start_page .header .header__top {
        width: 100%;
        margin-bottom: 0;
        align-items: flex-start;
        gap: var(--base-gap);
    }

    .start_page .header .header__links {
        width: 100%;
        flex-direction: column;
        gap: var(--base-gap);
        align-items: flex-start;
    }

    .start_page .header .header__list-top {
        align-self: flex-start;
        align-items: center;
        width: calc(100% + var(--base-gap) * 4);
        margin-left: calc(var(--base-gap) * -2);
        padding-left: calc(var(--base-gap) * 2);
        background: linear-gradient(to right, var(--base-color-1), var(--go-button));
    }

    .start_page header .header__burger {
        display: inline-block;
        width: var(--base-font-size);
        height: var(--base-font-size);
        color: #fff;
        transition: color 0.3s ease;
    }

    .start_page .header .header__list-top {
        gap: calc(var(--base-gap) / 2);
        justify-content: flex-start;
        height: calc(var(--base-font-size) * 2);
    }

    .start_page .header .header__tel {
        font-size: var(--base-font-size);
    }

    .start_page .header .header__button {
        padding: calc(var(--base-gap) / 4) calc(var(--base-gap) * 1.5);
        border: none;
        font-size: var(--base-font-size);
        color: #fff;
    }

    .start_page .header .header__top .header__button:hover {
        color: var(--base-color-2);
        background-color: transparent;
        border-color: transparent;
    }
}

@media (any-hover: hover) {
    .start_page .header .header__top .header__button:hover {
        color: #fff;
        background-color: var(--base-color-2);
        border-color: var(--base-color-2);
    }

    .start_page .header .header__tel:hover {
        color: var(--base-color-2);
        background-image: url(../img/phoneB.png);
    }

    .start_page .header .header__top .header__burger:hover {
        color: var(--base-color-2);
    }

}