/* Стили отображения*/
.display_block {
    display: block;
}

.display_inline_block {
    display: inline-block;
}

.display_inline {
    display: inline;
}

.display_grid {
    display: grid;
}

.display_flex_column {
    display: flex;
    flex-direction: column;
}

.display_flex_row {
    display: flex;
    flex-direction: row;
}

/* базовые стили выше*/
.start_page {
    padding-top: calc(var(--base-gap) * 4);
}

.start_page .container {
    padding: 0 calc(var(--base-gap) * 5.25);
    max-width: calc(var(--base-font-size) * 90);
    width: 100%;
}

.start_page .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: calc(var(--base-gap) * 4);
}

.start_page .header .header__menu {
    width: 100%;
    margin: 0;
    border-radius: 0;
    justify-content: center;
    padding: calc(var(--base-gap) * 1.5) 0;
}

.start_page .header .header__links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.start_page .header .header__top {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.start_page .header .header__tel {
    padding: calc(var(--base-gap) / 4) 0 calc(var(--base-gap) / 4) calc(var(--base-gap) * 1.5);
    margin-right: calc(var(--base-gap) * 2);
    font-size: calc(var(--base-font-size) * 1.25);
    color: var(--go-button);
    background-image: url(../img/phone.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    transition: color 0.3s ease, background-image 0.3s ease;
}

.start_page .header .header__button {
    padding: calc(var(--base-gap) / 2) calc(var(--base-gap) * 4);
    border-radius: calc(var(--base-font-size) * 4);
    font-size: calc(var(--base-font-size) * 1.25);
    background-color: transparent;
    color: var(--go-button);
    border: 1px solid var(--go-button);
    transition: background-color 0.5s ease, border-color 0.3s ease, color 0.3s ease;
}

.start_page .main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start_page .main .about {
    padding: 0 0 calc(var(--base-gap) * 2) 0;
    display: flex;
    gap: calc(var(--base-gap) * 2);
}

.start_page .main .about__block {
    display: flex;
    flex-direction: column;
    max-width: calc(var(--base-font-size) * 54);
    width: 100%;
}

.start_page .main .about__block-video {
    display: flex;
    flex-direction: column;
    max-width: calc(var(--base-font-size) * 35);
    width: 100%;
    justify-content: space-between;
    gap: var(--base-gap);
}

.start_page .main .about__title {
    padding: 0;
    margin: 0 0 calc(var(--base-font-size) / 3.0) 0;
    font-size: calc(var(--base-font-size) * 3.5);
    line-height: calc(var(--base-font-size) * 1);
    font-family: var(--base-bold-font);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, var(--base-color-1), var(--base-color-3));
    display: inline-block;
}

.start_page .main .about__text {
    margin: 0 0 calc(var(--base-gap) * 1.25) 0;
    font-size: calc(var(--base-font-size) * 1.25);
    color: var(--main-text-color);
    line-height: calc(var(--base-font-size) * 1.25);
}

.start_page .main .about__video-btn {
    display: flex;
    gap: calc(var(--base-gap) * 1);
    flex-wrap: wrap;
}

.start_page .main .about__button {
    padding: var(--base-font-size) calc(var(--base-font-size) * 2);
    width: calc(var(--base-font-size) * 22.75);
    font-size: calc(var(--base-font-size) * 0.75);
    color: #fff;
    border-radius: calc(var(--base-font-size) * 2);
    border: 1px solid var(--base-color-6);
    background: linear-gradient(to right, var(--base-color-1), var(--base-color-2));
    outline: none;
    transition: border-color 0.5s ease;
}

.start_page .main .about__video {
    width: calc(var(--base-font-size) * 35);
    /* margin-bottom: calc(var(--base-gap) * 1); */
}

.start_page .main .about__video-button {
    padding: var(--base-font-size) calc(var(--base-font-size) * 2);
    width: calc(var(--base-font-size) * 22);
    color: var(--base-color-6);
    border-radius: calc(var(--base-font-size) * 2);
    border: 1px solid var(--base-color-6);
    font-size: calc(var(--base-font-size) * 0.75);
    background: #fff;
    outline: none;
    transition: border-color 0.5s ease, color 0.5s ease;
}

.start_page .main .about__video-description {
    width: 100%;
}

.start_page .main .advantage {
    display: flex;
    padding: calc(var(--base-gap) * 2) 0;
    flex-direction: column;
}

.start_page .main .advantage__list {
    display: flex;
    flex-direction: row;
    gap: calc(var(--base-gap) * 2);
    margin-bottom: calc(var(--base-gap) * 2);
}

.start_page .main .advantage__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--base-gap) * 4);
}

.start_page .main .advantage__title {
    padding: 0;
    margin: 0 0 64px 0;
    font-family: var(--base-bold-font);
    font-size: calc(var(--base-font-size) * 3);
    line-height: var(--base-font-size);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, var(--base-color-1), var(--base-color-3));
    display: inline-block;
}

.start_page .main .advantage__subtitle {
    margin: 0;
    margin-bottom: calc(var(--base-gap) * 1.25);
    font-size: calc(var(--base-font-size) * 1.25);
    font-family: var(--base-bold-font);
    color: var(--base-color-6);
}

.start_page .main .advantage__text {
    padding: 0;
    margin: 0;
    font-size: calc(var(--base-font-size) * 1.25);
    line-height: calc(var(--base-font-size) * 1.25);
}

.start_page .main .advantage__img {
    max-width: 100%;
    height: auto;
    height: calc(var(--base-font-size) * 10);
    margin-bottom: calc(var(--base-gap) * 4);
}

.start_page .main .advantage__span {
    font-family: var(--base-bold-font);
}

.start_page .main .advantage__button {
    padding: var(--base-font-size) calc(var(--base-font-size) * 2);
    margin-bottom: calc(var(--base-gap) * 2);
    width: calc(var(--base-font-size) * 22.75);
    font-size: calc(var(--base-font-size) * 0.75);
    align-self: center;
    color: #fff;
    border-radius: calc(var(--base-font-size) * 2);
    border: 1px solid var(--base-color-6);
    background: linear-gradient(to right, var(--base-color-1), var(--base-color-2));
    outline: none;
    transition: border-color 0.5s ease;
}

.start_page .main .banner {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: calc(var(--base-gap) * 6) 0;
    color: #fff;
    background: linear-gradient(to right, var(--background-2-opacity-80), var(--background-1-opacity-80));
}

.start_page .main .banner__grid {
    display: flex;
    flex-direction: row;
    gap: calc(var(--base-gap) * 2);
}

.start_page .main .banner__block {
    max-width: calc(var(--base-font-size) * 51);
}

.start_page .main .banner__list {
    margin: 0;
    margin-bottom: calc(var(--base-gap) * 3);
}

.start_page .main .banner__item {
    line-height: calc(var(--base-font-size) * 1.25);
}

.start_page .main .banner__title {
    margin: 0;
    margin-bottom: 32px;
    font-family: var(--base-bold-font);
    font-size: calc(var(--base-font-size) * 3);
    line-height: calc(var(--base-font-size) * 1);
    opacity: 0.6;
}

.start_page .main .banner__text {
    margin: 0;
    font-family: var(--base-bold-font);
    font-size: calc(var(--base-font-size) * 1.25);
    margin-bottom: 32px;
}

.start_page .main .banner__button {
    padding: calc(var(--base-font-size) * 1) calc(var(--base-font-size) * 2);
    font-size: calc(var(--base-font-size) * 0.75);
    color: #fff;
    border: 1px solid #fff;
    border-radius: calc(var(--base-font-size) * 2);
    background-color: transparent;
    transition: border-color 0.5s ease, background-color 0.5s ease, color 0.5s ease;
}

.start_page .main .banner__img {
    padding-top: 30%;
    width: 100%;
    background-image: url(../img/pic.png);
    background-repeat: no-repeat;
    background-size: contain;
}



















@media (max-width: 1199px) {
    .start_page {
        padding-top: calc(var(--base-gap) * 3);
    }

    .start_page .header .header__logo {
        align-self: flex-start;
    }

    .start_page .header .header__top {
        flex-direction: column;
        margin-bottom: calc(var(--base-gap) * 2);
        gap: calc(var(--base-gap) * 2);
    }

    .start_page .main .about {
        flex-direction: column;
    }

    .start_page .main .about__block-video {
        flex-direction: row;
    }

    .start_page .main .about__video {
        margin: 0;
    }

    .start_page .main .about__video-description {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: flex-end;
    }

}

@media (max-width: 1020px) {
    .start_page .container {
        padding: 0 calc(var(--base-gap) * 3.5);
    }

    .start_page .header .header__button {
        padding: calc(var(--base-gap) / 2) calc(var(--base-gap) * 3);
    }

    .start_page .main .about__block-video {
        flex-direction: column;
    }

    .start_page .main .advantage__list {
        flex-direction: column;
    }

    .start_page .main .advantage__img {
        height: calc(var(--base-font-size) * 10);
        margin-bottom: calc(var(--base-gap) * 4);
    }

    .start_page .main .banner {
        padding: calc(var(--base-gap) * 2) 0;
    }

    .start_page .main .banner__img {
        display: none;
    }

    .start_page .main .banner__title {
        font-size: calc(var(--base-font-size) * 2.0);
    }
}

@media (max-width: 750px) {
    .start_page {
        padding-top: calc(var(--base-gap) * 1.5);
    }

    .start_page .container {
        padding: 0 calc(var(--base-gap) * 2);
    }

    .start_page .header {
        margin-bottom: calc(var(--base-gap) * 1.5);
    }



    .start_page .header .header__logo-name {
        font-size: calc(var(--base-font-size) * 1.38);
        line-height: calc(var(--base-font-size) * 1.0);
    }

    .start_page .header .header__logo-img {
        width: calc(var(--base-font-size) * 3.5);
        height: calc(var(--base-font-size) * 3.7);
    }

    .start_page .header .header__logo {
        width: calc(var(--base-font-size) * 16);
        justify-content: space-between;
    }

    .start_page .header .header__logo-description {
        font-size: 14px;
        line-height: 14px;
    }

    .start_page .header .header__logo-brand {
        width: 180px;
        height: 64px;
    }

    .start_page .header .header__top {
        width: 100%;
        margin-bottom: 0;
        align-items: flex-start;
        gap: var(--base-gap);
    }

    .start_page .header .header__links {
        width: 100%;
        flex-direction: column;
        gap: var(--base-gap);
        align-items: flex-start;
    }

    .start_page .header .header__list-top {
        align-self: flex-start;
        align-items: center;
        width: calc(100% + var(--base-gap) * 4);
        margin-left: calc(var(--base-gap) * -2);
        padding-left: calc(var(--base-gap) * 2);
        background: linear-gradient(to right, var(--base-color-1), var(--go-button));
    }

    .start_page .header .header__burger {
        display: inline-block;
        width: var(--base-font-size);
        height: var(--base-font-size);
        color: #fff;
        transition: color 0.3s ease;
    }

    .start_page .header .header__burger-close {
        display: none;
    }

    .start_page .header .open {
        display: block;
        color: #fff;
        width: var(--base-font-size);
        height: var(--base-font-size);
    }

    .start_page .header .header__list-top {
        gap: calc(var(--base-gap) / 2);
        justify-content: flex-start;
        height: calc(var(--base-font-size) * 4.5);
    }


    .start_page .header .header__button {
        padding: calc(var(--base-gap) / 4) calc(var(--base-gap) * 1.0);
        border: none;
        color: #fff;
    }

    .start_page .header .header__top .header__button:hover {
        color: var(--base-color-2);
        background-color: transparent;
        border-color: transparent;
    }

    .start_page .main .about__video {
        width: 100%;
    }

    .start_page .main .about__button {
        align-self: center;
        padding: var(--base-font-size) calc(var(--base-font-size) * 1.5);
        max-width: calc(var(--base-font-size) * 20);
        font-size: calc(var(--base-font-size) * 0.75);
        width: 100%;
    }

    .start_page .main .about__video-button {
        padding: 0;
        width: calc(var(--base-font-size) * 13);
        border: none;
        text-decoration: underline;
    }

    .start_page .main .about__title {
        font-size: calc(var(--base-font-size) * 2.0);
    }

    .start_page .main .about__text {
        margin: 0 0 calc(var(--base-gap) * 1.25) 0;
        font-size: calc(var(--base-font-size) * 1.0);
    }

    .start_page .main .advantage__title {
        font-size: calc(var(--base-font-size) * 2);
    }

    .start_page .main .advantage__title,
    .start_page .main .advantage__item,
    .start_page .main .advantage__button {
        margin-bottom: calc(var(--base-gap) * 2);
    }


}

























@media (any-hover: hover) {
    .start_page .header .header__top .header__button:hover {
        color: #fff;
        background-color: var(--base-color-2);
        border-color: var(--base-color-2);
    }

    .start_page .header .header__tel:hover {
        color: var(--base-color-2);
        background-image: url(../img/phoneB.png);
    }

    .start_page .header .header__top .header__burger:hover {
        color: var(--base-color-2);
    }

}