:root {
    --main-text-color: rgba(51, 51, 51, 1);
    --base-color-1: #0537c8;
    --base-color-2: #5bc5f2;
    --base-color-6: #005BAA;
    --base-color-7: #3762CF;
    --link-color-1: rgba(5, 55, 200, 1);
    --sucsess-color-4: rgba(5, 202, 5, 1);
    --warning-color-4: rgba(255, 237, 167, 1);
    --error-color-4: rgba(243, 71, 71, 1);
    --base-font: 'Fors';
    --base-bold-font: 'Fors ExtraBold';
    --base-font-size: 1rem;
    --base-font-line-height: 1rem;
    --base-gap: 1rem;
    --background-1-opacity-80: rgba(5, 55, 200, 0.8);
    --background-2-opacity-80: rgba(80, 200, 255, 1);
    --svgGradient: linear-gradient(to right, var(--base-color-1), var(--base-color-2));
    --item-border: #dadada;
    --newGray: #6c7a93;
    --lightBlue: #E6F4FF;
    --darkBlue: #7DB3E3;
    --grafite: #24252D;

}

@font-face {
    font-family: 'Fors';
    src: local('TT Fors'), url('../fonts/fors/TT\ Fors\ Trial\ Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Fors ExtraBold';
    src: local('TT Fors ExtraBold'), url('../fonts/fors/TT\ Fors\ Trial\ ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--base-font);
    font-size: var(--base-font-size);
    line-height: var(--base-font-line-height);
    min-height: 100vh;
   background: linear-gradient(135deg, #295ceb 0%, #000080 100%);
   
}

.fonLogin{
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,#E6F4FF 50%, rgba(3, 90, 252, 1) 50%);
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.ask_form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
    max-width: 600px;
    width: 100%;
    margin: 0;
    font-family: var(--base-font);
    background-color: #fff;
    /* background-color: var(--lightBlue); */
    padding: 40px;
    border-radius: 1em;
}

.ask_form select,
.ask_form textarea,
.ask_form input[type="password"],
.ask_form input[type="text"] {
    padding: 10px;
    margin-top: 8px;
    font-size: 14px;
    width: 100%;
    font-family: var(--base-font);
    border: 1px solid #aab0bb;
    border-radius: 4px;
    color: #000;
    outline: none;
    background-color: #fff;
}

.login-wrapper .ask_form input[type="password"],
.login-wrapper .ask_form input[type="text"] {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #aab0bb;
}

.ask_form input[type="password"]::placeholder,
.ask_form textarea::placeholder,
.ask_form input[type="text"]::placeholder {
    color: #aab0bb;
}

.ask_form button {
    padding: 10px;
    font-size: 16px;
    background: var(--svgGradient);
    color: white;
    font-family: var(--base-font);
    border: none;
    cursor: pointer;
}

.ask_form button:hover {
    background: var(--base-color-2);
    border-color: var(--darkBlue);
    box-shadow: 0 0 0 3px rgba(126, 143, 218, 0.1);
}

.ask_form button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}


.ask_form .photos_result .photo {
    width: 200px;
}

.ask_form .cat_list {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    max-height: 200px;
    overflow-y: scroll;
}

.ask_form .cat_list .cat {
    font-size: 1em;
    color: #3f91dd;
}

.ask_form .cat_list .cat:hover {
    cursor: pointer;
    color: var(--base-color-2);
    border-color: var(--darkBlue);
    box-shadow: 0 0 0 3px rgba(126, 143, 218, 0.1);
}

/*новое*/

.container {
    display: flex;
    justify-self: center;
    justify-content: center;
    max-width: 880px;
    width: 100%;
    padding: 0 20px;

}

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-items: center;
    max-width: 500px;
    height: 400px;
    width: 100%;
    padding: 2em;
    background: url(../img/fonImg4.jpg) no-repeat;
    background-size: cover;
    border-radius: 1em;
}

.gen-wrapper .ask_form {
    justify-self: center;
}

.title {
    padding: 0;
    font-family: var(--base-font);
    font-size: calc(var(--base-font-size) * 2.5);
    line-height: calc(var(--base-font-size) * 2.5);
    color: var(--grafite);
}

.title-login {
   padding-left: 48px;
    margin: 0 0 40px 0;
    color: #ffffff;
    font-size: calc(var(--base-font-size) * 4.0);
    line-height: 1em;
    background: url(../img/arrow.png) no-repeat 0 19px;
    background-size: 40px;
}

.title-gen {
    padding-left: 32px;
    margin: 20px 0 40px 0;
    color: #ffffff;
    font-size: calc(var(--base-font-size) * 2.2);
    line-height: 1em;
    background: url(../img/generation.png) no-repeat 0 9px;
    background-size: 24px;
}

.subtitle{
    padding: 0;
    margin: 16px 0;
    max-width: 200px;
    font-size: calc(var(--base-font-size) * 1.6);
    line-height: calc(var(--base-font-size) * 1.5);
    font-weight: 400;
    color: var(--lightBlue);
}
.text{
    font-size: var(--base-font-size);
    color: #fff;
    margin-bottom: 40px;
}

.input-text{
    padding: 0 0 0 24px;
    font-size: var(--base-font-size);
    color: #fff;
}

.gen-text{
    padding: 0;
    font-size: var(--base-font-size);
    color: var(--newGray);
    margin-bottom: 16px;
}

.login{
   background: url(../img/login1.png) no-repeat 0 3px;  
    background-size: 16px;
}

.password{
   background: url(../img/password1.png) no-repeat 0 3px;  
    background-size: 16px;
}

.help-text{
    justify-self: end;
    font-size: var(--base-font-size);
    color: var(--lightBlue);
    
}
.ask_form input[type="password"]:focus,
.ask_form input[type="text"]:focus,
.ask_form select:focus,
.ask_form textarea:focus {
    background-color: #fff;
    border-color: var(--darkBlue);
    box-shadow: 0 0 0 3px rgba(126, 143, 218, 0.1);
}

.login-wrapper {
    position: relative;
    width: 100%;
    padding-top: 10vh;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 0;
    max-width: 400px;
    width: 100%;
   
}

.form-description {
    margin: 0;
    max-width: 400px;
    padding: 20px;
    width: 100%;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
    background-color: #fff;
}

.gen-wrapper {
    padding: 40px;
    max-width: 880px;
    width: 100%;
}

.ask_form-login {
    position: absolute;
    max-width: 400px;
    height: 400px;
    top: 25%;
   left: 60%;
    padding: 40px;
    background: linear-gradient(135deg, #295ceb 0%, #000080 100%); 
}

.none{
    display: none;
}

@media (max-width:738px) {
    .ask_form-login {    
    max-width: 400px;
    top: 65%;
    left: 0;
    padding: 20px; 
    gap: 1.5em; 
    border-top-left-radius: 0;  
    border-top-right-radius: 0;
    height: 300px;
    }

    .form {    
    justify-self: center;
    max-width: 400px;
    }

}
@media (max-width:638px) {
.gen-wrapper {
    padding: 20px 0;
}

.title-gen {
    padding-left: 32px;
    font-size: calc(var(--base-font-size) * 1.6);
    background-position:  0 5px;
}

.gen-wrapper .ask_form {
    padding: 40px 20px;
}
}