.footer {
    width: 100%;
    padding: 64px 0;
}


.footer .container {
    display: flex;
    justify-self: center;
    padding: 0 calc(var(--base-gap) * 5.25);
    max-width: calc(var(--base-font-size) * 90);
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.footer__block-name {
    text-transform: uppercase;
}

.footer__block-logo{
    width: 25%;
}

.footer__block-icons{
    display: flex;
    gap: 16px;
    color: var(--base-color-1);
}
.footer__item{
    height: 32px;
}
.footer__item-link{
    border-bottom: 1px solid var(--grafite);
}