.future {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 96px 0;
    width: 100%;
    background: linear-gradient(133deg, var(--base-color-2), var(--base-color-1), var(--base-color-7));
}

.future .container {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 0 calc(var(--base-gap) * 5.25);
    max-width: calc(var(--base-font-size) * 90);
    width: 100%;
    justify-content: space-between;
}

.future .future__title-main {
    margin: 0 0 96px 0;
    padding: 0;
    font-size: 64px;
    font-weight: 400;
    line-height: 1.25;
    color: #fff;
}

.future .future__title {
    margin: 0 0 32px 0;
    padding: 0;
    font-size: 32px;
    font-weight: 400;
    line-height: 1em;
    color: var(--base-color-1);
    transition: color 0.5s ease;
}

.future__block-top {
    display: flex;
    width: 100%;
    font-size: 12px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background: var(--svgGradient);
}

.future__block-img {
    overflow: hidden;
    min-width: 192px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.future__img {
    width: 100%;
    height: 242px;
}


.future__text-date {
    padding: 0;
    margin: 0;
    font-size: 14px;
    margin-bottom: 8px;

}

.future__text-place {
    padding: 0;
    margin: 0;
}

.future__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 32px;
}

.future__description {
    margin-bottom: 48px;
}

.future__subtitle {
    padding: 0;
    margin: 0;
    margin-bottom: 16px;
    font-size: 16px;
    color: #000;
    font-weight: 400;
}

.future__text {
    padding: 0;
    margin: 0;
    color: var(--newGray);
}

.future__button-title {
    color: #000;
    margin-bottom: 8px;
}

.future__button-subtitle {
    color: var(--newGray);
    margin-bottom: 32px;
}

.future__btn {
    display: flex;
    align-items: center;
    width: calc(50% - 8px);
    gap: 8px;
    padding: 16px;
    border-radius: 2px;
    font-size: 12px;
    color: #fff;
    background-color: var(--base-color-1);
    border: none;
    transition: color 0.5s ease, background-color 0.5s ease;
}

.future__block-button {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.future__btn-img {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    color: var(--base-color-6);
    background-color: #fff;
}

.future__list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.future__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc((100% - 64px) / 3);
    border-radius: 16px;
    background-color: rgb(255, 255, 255, 1);
}

.future__button {
    width: 100%;
    color: #fff;
    background: var(--svgGradient);
}

@media (max-width: 1640px) {
    .future .future__title-main {
        font-size: 48px;
    }

    .future__img {
        height: 160px;
    }

    .future__description {
        margin-bottom: 24px;
    }
}

@media (max-width: 1020px) {

    .future__list {
        flex-direction: column;
    }

    .future__item {
        width: 100%;
    }

    .future__block-img {
        border-top-right-radius: 0px;
    }
    
}

@media (max-width: 750px) {
    .future {
        padding: 64px 0;
    }

    .future .future__title-main {
        font-size: 32px;
        margin-bottom: 64px;
    }
    .future .container {
        padding: 0 32px;
    }
}