/* Стили отображения*/
.display_block {
    display: block;
}

.display_inline_block {
    display: inline-block;
}

.display_inline {
    display: inline;
}

.display_grid {
    display: grid;
}

.display_flex_column {
    display: flex;
    flex-direction: column;
}

.display_flex_row {
    display: flex;
    flex-direction: row;
}

/* базовые стили выше*/
