
.photo {
    display: flex;
    flex-direction: column;
    margin-bottom: 64px;   
}

.photo__title {
    margin: 0;    
    padding: 0;
    margin-bottom: 64px;
    font-size: 64px;
    line-height: 64px;
    font-weight: 600;
    background: linear-gradient(to right, var(--base-color-1), var(--base-color-2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.photo .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    box-sizing: border-box;
    align-self: center;
}



/* Контейнер для галереи - объединение стилей */
.gallery-container {
    max-width: 1800px;    
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.swiper {
    width: 100%;
    height: 580px;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px;
    overflow: hidden;
    opacity: 0.4;
    transition: all 0.3s ease;

}

.swiper-slide-active {
    opacity: 1;
    transform: scale(1.1);
    z-index: 1;
    filter: none;
}

.swiper-slide-prev,
.swiper-slide-next {
    width: 40px;
    height: 40px;
    color: #fff;
    transform: scale(0.9);
    filter: grayscale(10%);
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 20px;
    font-weight: bold;
    color: var(--base-color-6);
}

.swiper-button-prev {
    left: 0;
}

.swiper-button-next {
    right: 0;
}

.swiper-slide-prev:hover,
.swiper-slide-next:hover {
    color: #333333;
}

@media (max-width: 1024px) {
    .swiper {
        height: 450px;
        padding: 8px 0 35px;
    }
    
    .swiper-slide-active {
        transform: scale(1.05);
    }
    
    .swiper-slide-prev,
    .swiper-slide-next {
        transform: scale(0.95);
    }
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
    .photo .container {
        padding: 0 10px;
    }
    
    .photo__title {
        margin-bottom: 20px;
    }
    
    .swiper {
        height: 350px;
        padding: 5px 0 30px;
    }
    
    /* На мобильных убираем эффекты масштабирования */
    .swiper-slide {
        opacity: 1;
        transform: scale(1);
    }
    
    .swiper-slide-active {
        transform: scale(1);
        opacity: 1;
    }
    
    .swiper-slide-prev,
    .swiper-slide-next {
        transform: scale(1);
        filter: none;
    }
    
    .swiper-button-prev,
    .swiper-button-next {
        display: none;
    }
    
    .swiper-pagination {
        bottom: 5px !important;
    }
    
    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
    }
}

@media (max-width: 480px) {
    .photo .container {
        padding: 0 8px;
    }
    
    .swiper {
        height: 280px;
        padding: 5px 0 25px;
    }
    
    .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
    }
}

/* Для очень маленьких экранов */
@media (max-width: 320px) {
    .swiper {
        height: 220px;
    }
}