.buyers-wrapper .container {
    display: flex;
    justify-content: center;
    padding: 0 calc(var(--base-gap) * 5.25);
    max-width: calc(var(--base-font-size) * 90);
    width: 100%;
}

.buyers_page {
    padding: 0 0 calc(var(--base-gap) * 1.5) 0;
}

.buyers_page .title {
    padding: 0;
    margin: 0 0 32px 0;
    font-size: calc(var(--base-font-size) * 3.5);
    line-height: calc(var(--base-font-size) * 3.5);
    color: var(--newGray);
    display: inline-block;
}


.buyers_page .container {
    flex-direction: column;
    justify-self: center;

}

.buyers_page .description {
    display: flex;
    margin: 0 0 calc(var(--base-gap) * 3.5);
    gap: var(--base-gap);
    justify-content: space-between;
}

.buyers_page .description__block {
    width: 60%;
}

.buyers_page .description__button {
    margin-left: -2px;
    color: #fff;
    border: 1px solid rgba(5, 55, 200, 1);
    background: linear-gradient(to right, var(--base-color-1), var(--base-color-2));
    outline: none;
    transition: background-color 0.5s ease, border-color 0.5s ease;
}

.buyers_page .description__text {
    margin: 0;
    font-size: calc(var(--base-font-size) * 1.0);
    font-weight: 400;
    line-height: calc(var(--base-font-line-height)* 1.5);
}

.buyers_page .description__text:not(:last-child) {
    margin-bottom: calc(var(--base-font-size) * 3);
}

.buyers_page .description__span {
    font-weight: 600;
}

.buyers_page .description__block-picture {
    display: flex;
    width: 60%;
    justify-content: space-between;
    gap: var(--base-gap);
}

.buyers_page .description__foto {
    width: calc(((100% / 3) * 2) - (var(--base-gap) / 2));
    border-radius: calc(var(--base-font-size) * 2);
    background-image: url('../img/image3.webp');
    background-size: cover;
    background-position: center 0px;
}

.buyers_page .description__banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    gap: var(--base-gap);
}

.buyers_page .description__banner-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: calc(var(--base-gap) * 1) calc(var(--base-gap) * 2);
    border-radius: calc(var(--base-font-size) * 0.5);
    background-size: cover;
}

.buyers_page .neva {
    background-image: url('../img/fon.png');
}

.buyers_page .food {
    background-image: url('../img/food.png');
}

/* advantages */
.buyers_page .advantages {
    margin-bottom: calc(var(--base-gap) * 4);
}

.buyers_page .advantages__subtitle {
    padding: 0;
    margin: 0 0 64px 0;
    font-weight: 700;
    font-size: calc(var(--base-font-size) * 2.5);
    line-height: calc(var(--base-font-size) * 3);
    color: var(--newGray);
    font-family: var(--base-font);
    display: inline-block;
}

.buyers_page .advantages__list {
    display: flex;
    gap: calc(var(--base-gap) * 2);
}

.buyers_page .advantages__item {
    width: calc((100% - (var(--base-gap) *2)) /3);
}

.buyers_page .advantages__item-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.buyers_page .advantages__text {
    margin: 0;
    font-size: calc(var(--base-font-size) * 1.0);
    line-height: calc(var(--base-font-line-height)* 1.5);
}

.buyers_page .advantages__text-main {
    margin-bottom: calc(var(--base-gap) * 2);
}

.buyers_page .advantages__img {
    margin-bottom: calc(var(--base-gap) * 1.25);
    width: calc(var(--base-font-size) * 8.5);
    height: calc(var(--base-font-size) * 8.5);

}

.buyers_page .foto__list {
    display: flex;
    gap: var(--base-gap);
    margin-bottom: calc(var(--base-gap) * 4);
}

.buyers_page .foto_item {
    width: 50%;
}


.buyers_page .display-none {
    display: none;
}

/* category */

.buyers_page .category-group {
    margin: calc(var(--base-gap) * 4) 0 calc(var(--base-gap) * 2) 0;
    display: flex;
    gap: calc(var(--base-gap)* 4);
    font-weight: bold;
    font-size: calc(var(--base-font-size)* 1);
}

.buyers_page .category-group__title {
    margin: 0;
}

.buyers_page .category_group__list {
    display: flex;
    justify-content: space-between;
    max-width: calc(var(--base-font-size)*40);
    width: 100%;
}

.buyers_page .category-group__item-checkbox {
    scale: 2;
    display: inline-block;
    margin-left: 0.5em;
}

.buyers_page .category__subtitle,
.buyers_page .catalog__subtitle {
    display: block;
    margin: calc(var(--base-font-size) * 0.25) 0 calc(var(--base-font-size) * 2) 0;
    font-size: calc(var(--base-font-size) * 1.25);
    line-height: calc(var(--base-font-line-height) * 1);
    font-weight: 700;
    color: var(--base-color-6);
}

.buyers_page .category__list {
    display: block;
    columns: 3;
    font-size: calc(var(--base-font-size)* 1.25);
}

.buyers_page .category__list .category__item label {
    display: inline-block;
    font-size: var(--base-font-size);
    line-height: 1.25em;
}

.buyers_page .category__list .category__item sup {
    color: var(--sub-text-color);
}

/* category */
.buyers_page .category {
    margin: 0 0 calc(var(--base-gap) * 2) 0;
}

.buyers_page .category-group {
    margin: calc(var(--base-gap) * 4) 0 0 0;
    display: flex;
    gap: calc(var(--base-gap)* 4);
    font-weight: bold;
    font-size: calc(var(--base-font-size)* 1);
}

.buyers_page .category-group__title {
    margin: 0;
}

.buyers_page .category_group__list {
    display: flex;
    justify-content: space-between;
    max-width: calc(var(--base-font-size)*40);
    width: 100%;
}

.buyers_page .category-group__item-checkbox {
    scale: 2;
    display: inline-block;
    margin-left: 0.5em;
}



.buyers_page .category__list .category__item sup {
    color: var(--sub-text-color);
}

.buyers_page .category__subtitle-group {
    margin: 0 0 calc(var(--base-gap) * 2) 0;
}

.buyers_page .category__item-group:not(:last-child) {
    margin-bottom: calc(var(--base-gap) * 4);
}

.buyers_page .category__item:not(:last-child) {
    margin-bottom: calc(var(--base-gap) * 1.0);
}

/* catalog */
.buyers_page .catalog {
    margin: calc(var(--base-gap) * 2) 0;
}


.buyers_page .catalog__list {
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--base-gap) * 2.5);
}

.buyers_page .catalog__block-description {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
}

.buyers_page .catalog__title-company {
    margin: 0;
    margin-bottom: var(--base-font-size);
    font-size: calc(var(--base-font-size)* 1.5);
    line-height: calc(var(--base-font-line-height)* 1.25);
    font-family: var(--base-bold-font);
}

.buyers_page .catalog__aticle {
    display: flex;
    flex-direction: row;
    gap: calc(var(--base-gap) * 2);
    margin-bottom: calc(var(--base-gap) * 2);
    height: 100%;
    padding: calc(var(--base-gap) * 2) var(--base-gap);
}

.buyers_page .catalog__block-logo {
    display: flex;
    font-weight: bold;
    align-items: start;
    justify-content: center;
    width: 20%;
    min-height: calc(var(--base-font-size) * 8);
}

.buyers_page .catalog__span-logo {
    width: 100%;
    text-align: center;
    font-size: calc(var(--base-font-size) * 4);
    color: #ffffff;
}

.buyers_page .catalog__item {
    display: flex;
    flex-direction: column;
    width: calc(50% - calc(var(--base-gap) * 2));
}

.buyers_page .catalog__text,
.buyers_page .catalog__span {
    line-height: calc(var(--base-font-line-height)* 1.25);
}

.buyers_page .catalog__span {
    padding-left: calc(var(--base-font-size)*1);
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='10' height='14' viewBox='0 0 10 14' fill='none'%3e%3cpath d='M5 14C5 14 10 9.02475 10 5.25C10 3.85761 9.47322 2.52226 8.53553 1.53769C7.59785 0.553123 6.32608 0 5 0C3.67392 0 2.40215 0.553123 1.46447 1.53769C0.526784 2.52226 1.97602e-08 3.85761 0 5.25C0 9.02475 5 14 5 14ZM5 7.875C4.33696 7.875 3.70107 7.59844 3.23223 7.10616C2.76339 6.61387 2.5 5.94619 2.5 5.25C2.5 4.55381 2.76339 3.88613 3.23223 3.39384C3.70107 2.90156 4.33696 2.625 5 2.625C5.66304 2.625 6.29893 2.90156 6.76777 3.39384C7.23661 3.88613 7.5 4.55381 7.5 5.25C7.5 5.94619 7.23661 6.61387 6.76777 7.10616C6.29893 7.59844 5.66304 7.875 5 7.875Z' fill='%2300AD6E'/%3e%3c/svg%3e");
}

.buyers_page .catalog__list-zacupki {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.buyers_page .catalog__item-zacupki {
    color: var(--sub-text-color);
    font-size: calc(var(--base-font-size)* 1);
}

.buyers_page .read-more {
    padding: 0;
    border-radius: 0;
    border-bottom: 1px dashed var(--sub-text-color);
    background-color: #fff;
    margin-top: calc(var(--base-gap)* 1);
    color: var(--sub-text-color);
    font-size: calc(var(--base-font-size) * 1);
    outline: none;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.buyers_page .read-les {
    padding: 0;
    border-radius: 0;
    border-bottom: 1px dashed var(--sub-text-color);
    background-color: #fff;
    margin-top: calc(var(--base-gap)* 1);
    color: var(--sub-text-color);
    font-size: calc(var(--base-font-size) * 1);
    outline: none;
    transition: background-color 0.5s ease, color 0.5s ease;
    display: none;
}

.buyers_page .catalog__block-zacupki {
    max-height: calc(var(--base-font-size) * 10);
    overflow: hidden;
}

.buyers_page .catalog__button {
    margin: calc(var(--base-gap)* 2) 0 calc(var(--base-gap)* 1) -1px;
    padding: calc(var(--base-gap)* 0.5);
    display: block;
    text-align: center;
    width: calc(var(--base-font-size) * 12);
    font-size: calc(var(--base-font-size)* 1.0);
    border: 1px solid #fff;
    color: var(--white-text-color);
    background: linear-gradient(135deg, var(--base-color-1) 0%, var(--base-color-2) 100%);
    outline: none;
    transition: border-color 0.5s ease;
}

.buyers_page .category__checkbox {
    margin-right: 0.5em;
}

@media (max-width: 1300px) {
    .buyers_page .description__banner-block {
        flex-direction: column;
    }

    .buyers_page .description__banner-img {
        width: 60%;
    }
}

@media (max-width: 1220px) {
    .buyers_page .title {
        font-size: calc(var(--base-font-size)* 2);
    }

    .buyers_page .advantages__subtitle,
    .buyers_page .category__subtitle {
        font-size: calc(var(--base-font-size) * 1.5);
        line-height: calc(var(--base-font-line-height) * 1.5);
    }

    .buyers_page .description__block {
        max-width: calc((100% / 12) * 7);
    }

    .buyers_page .catalog__aticle {
        display: flex;
        flex-direction: column;
    }

    .buyers_page .catalog__block-logo {
        width: 30%;
        align-items: center;
    }

    .buyers_page .category__list {
        columns: 2;
    }

}

@media (max-width: 1020px) {
    .buyers_page .container {
        padding: 0 calc(var(--base-gap) * 3.5);
    }

    .buyers_page .description {
        flex-direction: column;
        gap: calc(var(--base-gap) * 3);
    }

    .buyers_page .description__foto {
        display: flex;
        width: 50%;
    }

    .buyers_page .description__block {
        max-width: 100%;
        width: 100%;
    }

    .buyers_page .description__banner {
        flex-direction: row;
        max-width: 100%;
        width: 100%;
    }

    .buyers_page .description__banner-img {
        margin-bottom: calc(var(--base-gap)* 2);
    }

    .buyers_page .description__block-picture {
        max-width: 100%;
    }

    .buyers_page .foto {
        margin: var(--base-gap) 0 0;
    }

    .buyers_page .foto__list {
        flex-direction: column;
    }

    .buyers_page .foto_item {
        width: 100%;
    }


    .buyers_page .hide {
        display: none;
    }

    .buyers_page .category-group {
        flex-direction: column;
        gap: calc(var(--base-gap)* 2);
    }

    .buyers_page .catalog__list {
        gap: 0;
    }

    .buyers_page .catalog__item {
        width: 100%;
    }

    .buyers_page .catalog__aticle {
        display: flex;
        flex-direction: row;
    }

    .buyers_page .catalog__block-logo {
        width: 20%;
        align-items: start;
    }
}

@media (max-width: 992px) {
    .buyers_page .advantages__list {
        flex-wrap: wrap;
    }

    .buyers_page .advantages__item {
        width: calc((100% / 2) - var(--base-gap));
    }

   
    .buyers_page .category__list {
        font-size: calc(var(--base-font-size) * 1);
        padding: 0;
    }
}

@media (max-width: 750px) {
    .buyers-wrapper .container {
        padding: 0 calc(var(--base-gap) * 2);
    }

    .buyers_page .category__list {
        columns: 1;
    }

   
}

@media (max-width: 610px) {
    .buyers_page .advantages__list {
        flex-direction: column;
        gap: calc(var(--base-gap) * 4);
    }

    .buyers_page .advantages__item {
        width: 100%;
    }

    .buyers_page .description__block-picture {
        flex-direction: column;

    }

    .buyers_page .description__foto {
        display: flex;
        width: 100%;
        height: calc(var(--base-font-size) * 18);
    }

    .buyers_page .description__block {
        max-width: 100%;
    }

    .buyers_page .description__banner {
        width: 100%;
        flex-direction: column;
    }

    .buyers_page .category_group__list {
        flex-direction: column;
        row-gap: calc(var(--base-gap)* 3);
    }

   

    .buyers_page .catalog__subtitle {
        line-height: calc(var(--base-font-line-height) * 1.5);
    }

    .buyers_page .catalog__block-logo {
        width: 30%;
        min-height: 1em;
        margin-bottom: calc(var(--base-gap)* 1.5);
    }

    .buyers_page .catalog__aticle {
        flex-direction: column;
        margin-bottom: 0;
        padding: calc(var(--base-gap) * 1) 0;
    }

    .buyers_page .catalog__item {
        width: 100%;
    }
}

@media (max-width: 350px) {
    .buyers_page .container {
        margin: 0 calc(var(--base-gap) * 1.25);
    }

    .buyers_page .description__text,
    .buyers_page .advantages__text {
        font-size: calc(var(--base-font-size) * 1);
    }
}

@media (any-hover: hover) {

    .buyers_page .description__button:hover {
        border-color: var(--base-color-2);
        background-color: var(--base-color-2);
    }

    .buyers_page .catalog__button:hover {
        border-color: var(--base-color-2);
        background-color: var(--base-color-2);
    }

    .buyers_page .description__button:focus-visible {
        border-color: var(--base-color-1);
    }

    .buyers_page .catalog__button:focus-visible {
        border-color: var(--base-color-1);
    }

    .buyers_page .description__button:active {
        border-color: var(--base-color-5);
    }

    .buyers_page .catalog__button:active {
        border-color: var(--base-color-5);
    }

    .buyers_page .description__banner-button:hover,
    .buyers_page .description__banner-button:focus-visible {
        background-color: var(--base-color-2);
        color: #fff;
    }


    .buyers_page .category__checkbox:hover {
        border: 2px solid #000;

    }

    .buyers_page .category__checkbox:focus-visible {
        outline: 2px solid var(--base-color-2);

    }

    .buyers_page .read-more:hover,
    .buyers_page .read-les:hover {
        color: #fff;
        background-color: var(--base-color-2);
    }


}