.entrance .container {
    display: flex;
    padding: 0 calc(var(--base-gap) * 5.25);
    max-width: calc(var(--base-font-size) * 90);
    width: 100%;
}

.entrance .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: calc(var(--base-gap) * 4);
}

.entrance .content {
    display: flex;
    flex-direction: column;
    gap: calc(var(--base-gap) * 4);
}


.entrance .banner__title {
    position: relative;
    margin: 0 0 calc(var(--base-gap) * 4) 0;
    font-size: calc(var(--base-font-size) * 3);
    line-height: calc(var(--base-font-size) * 3);
    color: var(--newGray);
}

.entrance .banner__block-info {
    padding: calc(var(--base-gap) * 1.5);
    padding-left: calc(var(--base-gap) * 12);
    border-radius: 8px;
    background-image: url(../img/fonEnter.png);
    background-size: cover;
    color: var(--grafite);
}

.entrance .ask_entrance {
    padding: var(--base-font-size) calc(var(--base-font-size) * 1.5);
    max-width: calc(var(--base-font-size) * 22.75);
    width: 100%;
    font-size: calc(var(--base-font-size) * 1);
    color: #fff;
    border: 1px solid var(--base-color-6);
    background: linear-gradient(to right, var(--base-color-1), var(--base-color-2));
    outline: none;
    transition: border-color 0.5s ease, background-color 0.5s ease;
}

.entrance .description__item {
        margin-bottom: 32px;

    }
    
@media (max-width: 1199px) {
    .entrance .main {
        margin-bottom: calc(var(--base-gap) * 3);
    }

    .entrance .banner__title {
        margin: 0 0 calc(var(--base-gap) * 0) 0;
        font-size: calc(var(--base-font-size) * 2);
        line-height: calc(var(--base-font-size) * 2);
    }

    .entrance .banner__block-info {
        background-image: url(../img/fonEnter1024.png);
    }
}




@media (max-width: 1020px) {
   
    .entrance .content {
        gap: 40px;
        z-index: -1;
    }

    .entrance .banner__title {
        margin: 0 0 calc(var(--base-gap) * 2) 0;

    }

    .entrance .container {
        padding: 0 calc(var(--base-gap) * 1) 0 calc(var(--base-gap) * 5.5);
    }

    .entrance .main {
        margin-top: calc(var(--base-gap) * 2);
    }

    .entrance .banner__block-info {
        background-image: url(../img/fonEnter.png);
    }
}

@media (max-width: 750px) {  
  
    .entrance .container {
        padding: 0 calc(var(--base-gap) * 1) 0 calc(var(--base-gap) * 5.5);
    }


    .entrance .banner__block-info {
        padding: 1em;
        background-image: none;
        background-color: var(--lightBlue);
    }

    
}


@media (max-width: 430px) {  

    .entrance .container {
        padding: 0 16px 0 64px;
    }

}


@media (any-hover: hover) {

 .entrance .ask_entrance:hover {
        color: #fff;
        background: var(--base-color-2);
        border-color: var(--base-color-2);
    }

   
}