.events-wrapper {
    padding-top: calc(var(--base-gap) * 2);
}

.events {
    padding: 0 0 calc(var(--base-gap) * 1.5) 0;
}

.events .title__block {
    margin-bottom: calc(var(--base-gap) * 2);
}

.events .title {
    padding: 0;
    margin: 0 0 32px 0;
    font-size: calc(var(--base-font-size) * 3.5);
    line-height: calc(var(--base-font-size) * 3.5);
    color: var(--newGray);
}

.events-wrapper .container {
    display: flex;
    justify-content: center;
    justify-self: center;
    padding: 0 calc(var(--base-gap) * 5.25);
    max-width: calc(var(--base-font-size) * 90);
    width: 100%;
    flex-direction: column;
}


.events .event {
    display: flex;
    gap: var(--base-gap);
}

.events .future__block-top {
    display: flex;
    width: 100%;
    height: calc(var(--base-font-size) * 7.25);
    font-size: calc(var(--base-font-size) * 0.75);
    border-top-left-radius: calc(var(--base-gap) / 2);
    border-top-right-radius: calc(var(--base-gap) / 2);
    background-color: var(--lightBlue);
}

.events .future__block-img {
    min-width: calc(var(--base-font-size) * 12.0);
    border-top-left-radius: calc(var(--base-gap) / 2);
}

.events .future__img {
    border-top-left-radius: calc(var(--base-gap) / 2);
    max-height: calc(var(--base-font-size) * 7.25);
}

.events .future__block-date {
    margin-bottom: auto;
    margin-top: auto;
    padding: calc(var(--base-gap) * 0.5);
    color: var(--grafite);
}

.events .future__text-date {
    padding: 0;
    margin: 0;
    font-size: calc(var(--base-font-size) * 0.75);
    margin-bottom: calc(var(--base-gap) / 2);

}

.events .future__text-place {
    padding: 0;
    margin: 0;
}

.events .future__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: calc(var(--base-gap) * 2);
}

.events .future__description {
    margin-bottom: calc(var(--base-gap) * 3);
}

.events .future__title {
    padding: 0;
    margin: 0;
    margin-bottom: calc(var(--base-gap) * 1);
    font-size: calc(var(--base-font-size) * 1.25);
    font-weight: 700;
    color: #000;
    transition: color 0.5s ease;
}

.events .future__subtitle {
    padding: 0;
    margin: 0;
    margin-bottom: calc(var(--base-gap) * 1);
    font-size: calc(var(--base-font-size) * 1.0);
    color: var(--base-color-6);
}

.events .future__text {
    padding: 0;
    margin: 0;
    color: var(--newGray);
}

.eventse .future__button-title {
    color: #000;
    margin-bottom: calc(var(--base-gap) / 2);
}

.events .future__button-subtitle {
    font-size: calc(var(--base-font-size) * 0.75);
    color: var(--sub-text-color);
    margin-bottom: calc(var(--base-gap) * 1);
}

.events .future__btn {
    display: flex;
    align-items: center;
    gap: calc(var(--base-gap) / 2);
    padding: calc(var(--base-gap) / 2);
    border-radius: calc(var(--base-gap) / 4);
    font-size: calc(var(--base-font-size) * 0.75);
    color: var(--base-color-6);
    background-color: var(--lightBlue);
    transition: color 0.5s ease, background-color 0.5s ease;
}

.events .future__block-button {
    display: flex;
    gap: var(--base-gap);
    flex-wrap: wrap;
}

.events .future__btn-img {
    width: calc(var(--base-font-size) * 1.0);
    height: calc(var(--base-font-size) * 1.0);
    border-radius: 50%;
    color: var(--base-color-6);
    background-color: #fff;
}

.events .future__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: calc(var(--base-gap) * 1);
}

.events .future__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    border-radius: calc(var(--base-gap) / 2);
    border: 1px solid var(--lightBlue);
    background-color: #fff;
}

.events .future__button {
    padding-right: var(--base-gap);
    color: #fff;
    background-color: var(--base-color-6);
}

/* баннеры */
.events .event__banners {
    grid-column: 8/13;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--base-gap);
}

.events .event__banners-img {
    width: 610px;
}

.events .event__banners-img:not(:last-child) {
    margin-bottom: calc(var(--base-gap) * 1);
}

.events .white {
    color: #fff;
}


@media (max-width: 1300px) {
    .events .event__item {
        flex-direction: column;
    }

    .events .event__block {
        flex-direction: row;
        min-height: calc(var(--base-gap) * 10);
        width: 100%;
        gap: var(--base-gap);
        justify-content: flex-start;
        background-color: var(--events-fon);
        color: #fff;
        border-top-right-radius: var(--base-gap);
        border-top-left-radius: var(--base-gap);
        border-bottom-left-radius: 0;
    }

    .events .event__logo {
        width: 200px;
        align-self: start;
    }

    .events .event__date {
        text-align: left;
        font-size: calc(var(--base-font-size) * 1.0);
        line-height: calc(var(--base-font-size) * 1.0);
    }

    .events .event__description {
        padding: calc(var(--base-gap) *1.5) calc(var(--base-gap) * 2);
        width: 100%;
    }

    .events .event__buttons {
        gap: calc(var(--base-gap) / 2);
    }
}

@media (max-width: 1220px) {


    .events .title {
        font-size: calc(var(--base-font-size) * 2);
        line-height: calc(var(--base-font-line-height) * 2);
    }
}

@media (max-width: 1020px) {
    .events-wrapper .container {
        padding: 0 calc(var(--base-gap) * 3.5);
    }
}

@media (max-width: 750px) {
    .events-wrapper .container {
        padding: 0 calc(var(--base-gap) * 2);
    }

    .events .event__list {
        grid-column: 1/13;
    }

    .events .event__banners {
        order: 1;
        grid-column: 1/13;
    }

    .events .event {
        flex-direction: column;
    }

    .events .event__item {
        flex-direction: row;
        gap: var(--base-font-size);
    }

    .events .event__block {
        flex-direction: column;
        min-height: calc(var(--base-gap) * 16.5);
        width: calc(var(--base-gap) * 10);
        border-top-left-radius: var(--base-font-size);
        border-top-right-radius: 0;
        border-bottom-left-radius: var(--base-font-size);
    }


    .events .event__banners {
        flex-direction: row;
        align-items: flex-start;
    }

    .events .event__description {
        padding: calc(var(--base-gap) * 1) calc(var(--base-gap) * 1.5) calc(var(--base-gap) * 1) 0;
        width: calc(100% - var(--base-gap) * 10);
    }

    .events .event__date {
        text-align: left;
        font-size: calc(var(--base-font-size) * 0.75);
        padding-bottom: calc(var(--base-font-size) * 2);
    }

    .events .event__logo {
        width: 160px;
        margin-bottom: var(--base-gap);
    }

    .events .event__title-main {
        font-size: calc(var(--base-font-size)* 1.25);
    }

    .events .event__title {
        font-size: calc(var(--base-font-size)* 0.875);
    }

    .events .event__text {
        font-size: calc(var(--base-font-size)* 0.875);
    }

    .events .event__text-count {
        font-size: calc(var(--base-font-size)* 1.25);
    }

    .events .event__text-caterory {
        font-size: calc(var(--base-font-size)* 1.0);
        margin-bottom: var(--base-gap);
    }

    .events .event__button {
        font-size: calc(var(--base-font-size)* 0.75);
    }

    .events .future__item {
        width: calc((100% / 2) - (var(--base-gap) * 1));
    }

    .events .future__item:nth-child(3) {
        display: none;
    }
}

@media (max-width: 1020px) {
    .events .future__item {
        width: 100%;
    }

    .events .future__item:nth-child(3) {
        display: flex;
    }


    .events .future__btn {
        width: calc(50% - var(--base-font-size) / 2);
        padding: calc(var(--base-gap) / 2) var(--base-gap);
    }

    .events .future__button {
        width: 100%;
    }
}

@media (max-width: 750px) {
    .events .container {
        margin: 0 calc(var(--base-gap) * 2);
    }

    .event .future__block-date {
        padding: calc(var(--base-gap) / 2);
    }

    .events .event__banners {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width:400px) {

    .events .future__block-top {
        flex-direction: column;
        height: 100%;
        background-color: transparent;
    }

    .events .future__block-img {
        width: 100%;
    }

    .events .future__img {
        max-height: calc(var(--base-font-size) * 14);
        border-top-right-radius: calc(var(--base-gap) / 2);
    }

    .events .future__block-date {
        display: none;
    }
}

@media (any-hover: hover) {

    .events .event__button:hover,
    .events .event__button:focus-visible {
        background-color: var(--base-color-2);
        color: #fff;
        border-color: var(--sub-text-color);
    }

    .events .future__btn:hover,
    .events .future__btn:focus-visible {
        color: #fff;
        background-color: var(--base-color-2);
        border-color: var(--base-color-2);
    }

    .events .future__btn:hover .future__btn-img,
    .events .future__btn:focus-visible .future__btn-img {
        color: var(--base-color-2);
        background-color: #fff;
    }

    .events .event__button:active {
        background-color: var(--base-color-2);
        color: #fff;
        border-color: var(--base-color-5);
    }

    .events .event__button-main:hover {
        border-color: var(--base-color-1);
    }

    .events .event__button-main:focus-visible {
        border-color: var(--base-color-1);
    }

    .events .event__button-main:active {
        border-color: var(--base-color-5);
    }

}