.inside {
    padding-top: calc(var(--base-gap) * 2);
    font-family: var(--base-font);
}

.inside .container {
    display: flex;
    padding: 0 calc(var(--base-gap) * 5.25);
    max-width: calc(var(--base-font-size) * 90);
    width: 100%;
}

.inside .header {
    top: 0px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
}

.inside .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: calc(var(--base-gap) * 4);
}

.inside .content {
    display: flex;
    flex-direction: column;
    gap: calc(var(--base-gap) * 2);
    margin-left: 32px;
}


.inside .inside__title {
    position: relative;
    margin: 0 0 calc(var(--base-gap) * 2) 0;
    font-size: calc(var(--base-font-size) * 3);
    line-height: calc(var(--base-font-size) * 3);
    color: var(--newGray);
}

.inside .page_menu {
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--base-gap) * 1.5);
}

.inside .page_menu a {
    display: inline-block;
    padding: var(--base-font-size) calc(var(--base-font-size) * 1);
    max-width: 300px;
    width: 100%;
    font-size: calc(var(--base-font-size) * 1);
    color: #fff;
    border: 1px solid var(--base-color-6);
    background: linear-gradient(to right, var(--base-color-1), var(--base-color-2));
    outline: none;
    text-align: center;
    transition: border-color 0.5s ease, background-color 0.5s ease;
}

.inside .event_field {
    display: grid;
    grid-template-columns: 1fr;
    gap: calc(var(--base-gap) * 1);
    align-self: start;
    color: var(--newGray);
}

.inside .event_field li:not(:last-child) {
    margin-bottom: 1em;
}

.inside .event_field a {
    color: var(--base-color-6);
    text-decoration: underline;
    outline: none;
    cursor: pointer;
}

.inside .page_menu a {
    outline: none;
}

@media (max-width: 1199px) {
    .inside .main {
        margin-bottom: calc(var(--base-gap) * 3);
    }

    .inside .inside__title {
        margin: 0 0 calc(var(--base-gap) * 0) 0;
        font-size: calc(var(--base-font-size) * 2);
        line-height: calc(var(--base-font-size) * 2);
    }
}




@media (max-width: 1020px) {
    .inside .header {
        margin-bottom: 0;
    }

    .inside .header .header__menu .container {
        padding: 0 calc(var(--base-gap) * 2) 0 calc(var(--base-gap) * 4);
    }

    .inside .header .header__button {
        padding: calc(var(--base-gap) / 2) calc(var(--base-gap) * 3);
    }

    .inside .content {
        margin-left: 32px;
        z-index: -1;
    }

    .inside .inside__title {
        margin: 0 0 calc(var(--base-gap) * 0) 0;

    }

    .inside .container {
        padding: 0 calc(var(--base-gap) * 2) 0 calc(var(--base-gap) * 6);
    }

    .inside .main .container {
        padding: 0 calc(var(--base-gap) * 2) 0 calc(var(--base-gap) * 4);
    }

    .inside .main {
        margin-top: calc(var(--base-gap) * 2);
    }
}

@media (max-width: 750px) {
    .inside {
        padding-top: calc(var(--base-gap) * 1.5);
    }


    .inside .container {
        padding: 0 calc(var(--base-gap) * 2) 0 calc(var(--base-gap) * 5);
    }

    .inside .header .header__list-top {
        padding-left: calc(var(--base-gap) * 4.5);
    }

    .inside .main .container {
        padding: 0 16px 0 calc(var(--base-gap) * 4);
    }

    .inside .content {
        margin-left: 16px;
        padding-right: 16px;
        width: 100%;
    }


    .inside .main {
        margin-bottom: calc(var(--base-gap) * 2);
        /* margin-top: 176px; для sticky */
    }


    .inside .header {
        margin-bottom: calc(var(--base-gap) * 1.5);
    }

    .inside .header .header__logo-img {
        width: calc(var(--base-font-size) * 14);
        height: calc(var(--base-font-size) * 2.5);
    }

    .inside .header .header__logo-name {
        font-size: calc(var(--base-font-size) * 1.38);
        line-height: calc(var(--base-font-size) * 1.0);
    }



    .inside .header .header__logo {
        width: calc(var(--base-font-size) * 16);
        justify-content: space-between;
    }

    .inside .header .header__logo-description {
        font-size: 14px;
        line-height: 14px;
    }

    .inside .header .header__top {
        width: 100%;
        margin-bottom: 0;
        align-items: flex-start;
        gap: var(--base-gap);
    }

    .inside .header .header__links {
        width: 100%;
        flex-direction: column;
        gap: var(--base-gap);
        align-items: flex-start;
    }

    .inside .header .header__list-top {
        justify-content: flex-start;
        gap: calc(var(--base-gap) / 2);
        height: calc(var(--base-font-size) * 4.5);
        align-self: flex-start;
        align-items: center;
        width: calc(100% + var(--base-gap) * 6);
        margin-left: calc(var(--base-gap) * -4);
        padding-left: calc(var(--base-gap) * 4.5);
        background: linear-gradient(to right, var(--base-color-1), var(--go-button));
    }



    .inside .header .header__burger {
        display: inline-block;
        width: var(--base-font-size);
        height: var(--base-font-size);
        color: #fff;
        transition: color 0.5s ease;
    }

    .inside .header .header__burger-close {
        display: none;
    }

    .inside .header .open {
        display: block;
        color: #fff;
        width: var(--base-font-size);
        height: var(--base-font-size);
    }


    .inside .header .header__button,
    .inside .header .User-name {
        padding: calc(var(--base-gap) / 4) calc(var(--base-gap) * 1.0);
        border: none;
        color: #fff;
        font-size: calc(var(--base-font-size) * 1);
    }

    .inside .header .header__tel {
        font-size: calc(var(--base-font-size) * 1);

    }

    .inside .header .header__top .header__button:hover {
        color: var(--base-color-2);
        background-color: transparent;
        border-color: transparent;
    }


}


@media (max-width: 430px) {
    .inside .header .header__list-top {
        padding-left: calc(var(--base-gap) * 4);
        font-size: 12px;
    }

    .inside .main .container {
        padding: 0 8px 0 48px;
    }

    /* .inside .menu {
        width: 48px;
    } */



    .inside .main .container {
        margin-left: 0px;
    }
}


@media (any-hover: hover) {

    .inside .page_menu a:focus-visible,
    .inside .page_menu a:hover {
        color: #fff;
        background: var(--base-color-2);
        border-color: var(--base-color-2);
    }

    .inside .event_field a:hover {
        color: var(--base-color-2);
    }

    .inside .event_field a:focus-visible {
        color: var(--base-color-1);
        background-color: var(--base-color-2);
    }

}