.news-wrapper {
    padding-top: calc(var(--base-gap) * 2);
}

.news-wrapper .container {
    display: flex;
    justify-content: center;
    padding: 0 calc(var(--base-gap) * 5.25);
    max-width: calc(var(--base-font-size) * 90);
    width: 100%;
}

.news {
    padding: 0 0 calc(var(--base-gap) * 1.5) 0;
}

.news .title__block {
    margin-bottom: calc(var(--base-gap) * 2);
}

.news .title {
    padding: 0;
    margin: 0 0 32px 0;
    font-size: calc(var(--base-font-size) * 3.5);
    line-height: calc(var(--base-font-size) * 3.5);
    color: var(--newGray);
    display: inline-block;
}

.news .container {
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.news .new {
    display: flex;
    gap: calc(var(--base-gap) * 2);
}

/* общее */
.news .news__block {
    width: calc(100% - calc(var(--base-font-size) * 20));
}

.news .new__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: calc(var(--base-gap) * 2);
    margin-bottom: calc(var(--base-gap) * 2);
}

.news .new__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: calc(var(--base-gap) * 2);
    border-radius: calc(var(--base-font-size) / 2);
    border: 1px solid var(--item-border);
}

.news .new__img-block {
    display: flex;
    gap: var(--base-gap);
    margin-bottom: calc(var(--base-gap) * 1.5);
    height: 60px;
}

.news .new__block {}

.news .new__img {
    width: 40%;
    border-radius: calc(var(--base-font-size) / 2);
}

.news .new__date {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news .new__date-day {
    margin: 0;
    color: var(--headers-text-color);
}

.news .new__date-time {
    margin: 0;
    color: var(--sub-text-color);
}

.news .new__description {
    margin-bottom: calc(var(--base-gap) * 2);
}

.news .new__title {
    margin: 0;
    margin-bottom: calc(var(--base-gap) * 1);
    color: var(--base-color-1);
    font-size: calc(var(--base-font-size)* 1.25);
    line-height: calc(var(--base-font-size)* 1.25);
    font-weight: 400;
}

.news .new__text {
    margin: 0;
    font-size: calc(var(--base-font-size)* 1.0);
    line-height: calc(var(--base-font-size)* 1.25);
    color: var(--text-color);
}

.news .new__link {
    border-bottom: 1px solid var(--sub-text-color);
    color: var(--sub-text-color);
    align-self: flex-end;
}

.news .new__link-retail {
    color: var(--link-black-color);
    font-weight: 700;
}

.news .new__block-button {
    text-align: center;
}



.news .show-more {
    padding: calc(var(--base-gap) / 4) calc(var(--base-gap) / 2);
    color: var(--sub-text-color);
    border: 1px solid var(--sub-text-color);
    border-radius: calc(var(--base-gap) / 4);
    background-color: #fff;
    transition: border-color 0.5s ease, color 0.5s ease, background-color 0.5s ease;
}

.news .show-more:not(:last-child) {
    margin-right: calc(var(--base-gap) * 1);
}

.news .show-now {
    background-color: var(--base-color-7);
    color: #fff;
    border-color: var(--base-color-1);
}

/* баннеры */
.news .new__banners {
    width: calc(var(--base-font-size) * 20);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--base-gap);
}

.news .new__banners-img {
    width: 320px;
}

.news .new__banners-img:not(:last-child) {
    margin-bottom: calc(var(--base-gap) * 1);
}



@media (max-width: 1640px) {
    .news .new__list {
        grid-template-columns: 1fr 1fr;
    }

    .news .new__img-block {
        height: 80px;
    }
}

@media (max-width: 1220px) {

    .news .title {
        font-size: calc(var(--base-font-size) * 2);
    }

    .news .news__block {
        width: 100%;
    }

    .news .new__banners {
        display: none;
    }


    .news .new__img {
        width: 35%;
    }


}

@media (max-width: 1020px) {

    .news .container {
        padding: 0 calc(var(--base-gap) * 3.5);
    }

    .news .new__list {
        grid-template-columns: 1fr 1fr;
    }

    .news .new__img {
        width: 40%;
    }
}

@media (max-width: 750px) {
    .news-wrapper .container {
        padding: 0 calc(var(--base-gap) * 2);
    }

    .news .new__img-block {
        height: 60px;
    }
}

@media (max-width: 610px) {

    .news .new__list {
        grid-template-columns: 1fr;
    }

    .news .new__item {
        padding: 0;
        border-radius: 0;
        border: none;
    }

    .news .new__link {
        border-bottom: 1px solid var(--sub-text-color);
        color: var(--sub-text-color);
        align-self: flex-start;
    }

    .news .new__list {
        gap: calc(var(--base-gap) * 4);
    }

    .news .new__description {
        margin-bottom: calc(var(--base-gap) * 1);
    }

    .news .new__img-block {
        height: 8cap;
    }

}

@media (any-hover: hover) {

    .news .show-more:hover,
    .news .show-more:focus-visible {
        background-color: var(--base-color-2);
        color: #fff;
        border-color: var(--sub-text-color);
    }

    .news .show-more:active {
        background-color: var(--base-color-2);
        color: #fff;
        border-color: var(--base-color-5);
    }

    .news .show-now:hover {
        border-color: var(--base-color-1);
    }

    .news .show-now:focus-visible {
        border-color: var(--base-color-1);
    }

    .news .show-now:active {
        border-color: var(--base-color-5);
    }

}