.proposals .container {
    display: flex;
    padding: 0 calc(var(--base-gap) * 5.25);
    max-width: calc(var(--base-font-size) * 90);
    width: 100%;
}


.proposals .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: calc(var(--base-gap) * 4);
}

.proposals .content {
    display: flex;
    flex-direction: column;
    gap: calc(var(--base-gap) * 4);
}


.proposals .new__title {
    position: relative;
    margin: 0;
    font-size: calc(var(--base-font-size) * 3);
    line-height: calc(var(--base-font-size) * 3);
    color: var(--newGray);
}

.proposals .proposals_page div{
     display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin-bottom: 64px;
}

.proposals .proposals_page p{
    color:var(--newGray);
}

.proposals .proposals_btn{
    display: inline-block;
    padding: calc(var(--base-font-size) / 2) calc(var(--base-font-size) * 2);
    font-size: calc(var(--base-font-size) * 1);
    color: #fff;
    width: 250px;
    border: 1px solid var(--base-color-6);
    background: linear-gradient(to right, var(--base-color-1), var(--base-color-2));
    outline: none;
    transition: border-color 0.5s ease, background-color 0.5s ease;
}




@media (any-hover: hover) {

 .proposals .link_btn:hover {
        color: #fff;
        background: var(--base-color-2);
        border-color: var(--base-color-2);
    }

}

    @media (max-width: 1199px) {
    .proposals .new__title {
        margin: 0 0 calc(var(--base-gap) * 0) 0;
        font-size: calc(var(--base-font-size) * 2);
        line-height: calc(var(--base-font-size) * 2);
    }

    .proposals .content {
        gap: 40px;
        z-index: -1;
    }
}

@media (max-width: 1020px) {
    .proposals .content {
        gap: 32px;
        z-index: -1;
    }

    .proposals .new__title {
        margin: 0 0 calc(var(--base-gap) * 0) 0;

    }

    .proposals .main .container .container {
        padding: 0 calc(var(--base-gap) * 2) 0 calc(var(--base-gap) * 5.5);
    }

}

@media (max-width: 750px) {
       .proposals .container {
        padding: 0 calc(var(--base-gap) * 1) 0 calc(var(--base-gap) * 5.5);
    }
}


@media (max-width: 430px) {

    .proposals .container {
        padding: 0 16px 0 64px;
        margin-left: 0px;
    }

}