.proposal_upload {
    padding-top: calc(var(--base-gap) * 2);
    font-family: var(--base-font);
}

.proposal_upload .container {
    display: flex;
    padding: 0 calc(var(--base-gap) * 5.25);
    max-width: calc(var(--base-font-size) * 90);
    width: 100%;
}

.proposal_upload .header {
    top: 0px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
}

.proposal_upload .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: calc(var(--base-gap) * 4);
}

.proposal_upload .content {
    display: flex;
    flex-direction: column;
    gap: calc(var(--base-gap) * 4);
    margin-left: 32px;
}


.proposal_upload .new__title {
    position: relative;
    margin: 0 0 calc(var(--base-gap) * 2) 0;
    font-size: calc(var(--base-font-size) * 3);
    line-height: calc(var(--base-font-size) * 3);
    color: var(--newGray);
}

.proposal_upload .subtitle{
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: 700;
    margin: 0 0 40px 0;
    color:var(--grafite);
}

.proposal_upload .banner__block-info{
padding: calc(var(--base-gap) * 1.5);
    padding-left: calc(var(--base-gap) * 8.5);
    border-radius: 8px;
    background-image: url(../img/fonLoadL.png);
    background-size: cover;
    color: var(--grafite);
}

.proposal_master .file_field input[type=file] {
    display: inline-block;
    background: var(--lightBlue);
    border-radius: 4px;
    padding: 1em 2em; 
    max-width: 800px;
    width: 100%;
    margin: 1em 0 2em 0;
    color: var(--newGray);
    font-size: 0.9em;    
    cursor: pointer;
}

.file_field input[type="file"]::file-selector-button {
    padding: 8px 16px;
    background: var(--base-color-6);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

.proposal_master input[type=file] button{
    background: #fff;
    border: 1px solid var(--lightBlue);
}
.proposal_master .cat_group {
    font-weight: 700;
    margin: 0 0 1em 0;
    color: var(--base-color-6);
}

.proposal_master .cat_group_field {
    margin: 0 0 0 0em;
    padding-left: 2em;
    border-left: 1px solid #cccccc;
}

.proposal_master .category {
    margin: 0 0 1em 0;
    color: var(--newGray);
}
[type="checkbox"], [type="radio"]
 {
    box-sizing: border-box;
    padding: 0;
}

.proposal_master .user_events_list {
    display: flex;
    flex-direction: column;
    margin: 0 0 calc(var(--base-gap) * 2) 0;
    gap: calc(var(--base-gap) * 1);
    color:var(--newGray);
}
.proposal_master  .org_events{
    margin-bottom: 32px;
}
.proposal_master .add_proposal {
    display: inline-block;
     padding: var(--base-font-size) calc(var(--base-font-size) * 4.5);   
    width: 100%;
    font-size: calc(var(--base-font-size) * 1);
    color: #fff;
    border: 1px solid var(--base-color-6);
    background: linear-gradient(to right, var(--base-color-1), var(--base-color-2));
    outline: none;
        text-align: center;
    transition: border-color 0.5s ease, background-color 0.5s ease;
}

.proposal_master .user_events_list input[type="checkbox"]:focus,
.proposal_master .category_input input[type="checkbox"]:focus,
.proposal_master.input_field input[type="file"]:focus
.proposal_master  input[type="text"]:focus,
.proposal_master input[type="number"]:focus,
.proposal_master .org_clients textarea:focus,
.proposal_master .title:focus {
    outline: none;
    border-color: var(--base-color-2);
    box-shadow: 0 0 0 3px rgba(126, 143, 218, 0.1);
}






@media (max-width: 1199px) {
    .proposal_upload .main {
        margin-bottom: calc(var(--base-gap) * 3);
    }

    .proposal_upload .new__title {
        margin: 0 0 calc(var(--base-gap) * 0) 0;
        font-size: calc(var(--base-font-size) * 2);
        line-height: calc(var(--base-font-size) * 2);
    }

    .proposal_upload .banner__block-info {
        background-image: url(../img/fonLoad.png);
    }
}




@media (max-width: 1020px) {
    .proposal_upload .header {
        margin-bottom: 0;
    }

    .proposal_upload .header .header__menu .container {
        padding: 0 calc(var(--base-gap) * 2) 0 calc(var(--base-gap) * 4);
    }

    .proposal_upload .header .header__button {
        padding: calc(var(--base-gap) / 2) calc(var(--base-gap) * 3);
    }

    .proposal_upload .content {
        margin-left: 32px;
        z-index: -1;
    }

    .proposal_upload .new__title {
        margin: 0 0 calc(var(--base-gap) * 0) 0;

    }

    .proposal_upload .container {
        padding: 0 calc(var(--base-gap) * 2) 0 calc(var(--base-gap) * 6);
    }

    .proposal_upload .main .container {
        padding: 0 calc(var(--base-gap) * 2) 0 calc(var(--base-gap) * 4);
    }

    .proposal_upload .main {
        margin-top: calc(var(--base-gap) * 2);
    }

    .proposal_upload .banner__block-info {
        background-image: url(../img/fonLoadL.png);
    }
}

@media (max-width: 750px) {
    .proposal_upload {
        padding-top: calc(var(--base-gap) * 1.5);
    }


    .proposal_upload .container {
        padding: 0 calc(var(--base-gap) * 2) 0 calc(var(--base-gap) * 5);
    }

    .proposal_upload .header .header__list-top {
        padding-left: calc(var(--base-gap) * 4.5);
    }

    .proposal_upload .main .container {
        padding: 0 16px 0 calc(var(--base-gap) * 4);
    }

    .proposal_upload .content {
        margin-left: 16px;
        padding-right: 16px;
        width: 100%;
    }


    .proposal_upload .main {
        margin-bottom: calc(var(--base-gap) * 2);
        /* margin-top: 176px; для sticky */
    }


    .proposal_upload .header {
        margin-bottom: calc(var(--base-gap) * 1.5);
    }

    .proposal_upload .header .header__logo-img {
        width: calc(var(--base-font-size) * 14);
        height: calc(var(--base-font-size) * 2.5);
    }

    .proposal_upload .header .header__logo-name {
        font-size: calc(var(--base-font-size) * 1.38);
        line-height: calc(var(--base-font-size) * 1.0);
    }



    .proposal_upload .header .header__logo {
        width: calc(var(--base-font-size) * 16);
        justify-content: space-between;
    }

    .proposal_upload .header .header__logo-description {
        font-size: 14px;
        line-height: 14px;
    }

    .proposal_upload .header .header__top {
        width: 100%;
        margin-bottom: 0;
        align-items: flex-start;
        gap: var(--base-gap);
    }

    .proposal_upload .header .header__links {
        width: 100%;
        flex-direction: column;
        gap: var(--base-gap);
        align-items: flex-start;
    }

    .proposal_upload .header .header__list-top {
        justify-content: flex-start;
        gap: calc(var(--base-gap) / 2);
        height: calc(var(--base-font-size) * 4.5);
        align-self: flex-start;
        align-items: center;
        width: calc(100% + var(--base-gap) * 6);
        margin-left: calc(var(--base-gap) * -4);
        padding-left: calc(var(--base-gap) * 4.5);
        background: linear-gradient(to right, var(--base-color-1), var(--go-button));
    }



    .proposal_upload .header .header__burger {
        display: inline-block;
        width: var(--base-font-size);
        height: var(--base-font-size);
        color: #fff;
        transition: color 0.5s ease;
    }

    .proposal_upload .header .header__burger-close {
        display: none;
    }

    .proposal_upload .header .open {
        display: block;
        color: #fff;
        width: var(--base-font-size);
        height: var(--base-font-size);
    }


    .proposal_upload .header .header__button,
    .proposal_upload .header .User-name {
        padding: calc(var(--base-gap) / 4) calc(var(--base-gap) * 1.0);
        border: none;
        color: #fff;
        font-size: calc(var(--base-font-size) * 1);
    }

    .proposal_upload .header .header__tel {
        font-size: calc(var(--base-font-size) * 1);

    }


 .proposal_upload .banner__block-info {
        padding: 1em;
        background-image: none;
        background-color: var(--lightBlue);
    }


}


@media (max-width: 430px) {
    .proposal_upload .header .header__list-top {
        padding-left: calc(var(--base-gap) * 4);
        font-size: 12px;
    }

    .proposal_upload .main .container {
        padding: 0 8px 0 48px;
    }

    /* .proposal_upload .menu {
        width: 48px;
    } */



    .proposal_upload .main .container {
        margin-left: 0px;
    }
}


@media (any-hover: hover) {

.proposal_master .add_proposal:hover {
        color: #fff;
        background: var(--base-color-2);
        border-color: var(--base-color-2);
    }
    .proposal_upload .header .header__top .header__button:hover {
        color: var(--base-color-2);
        background-color: transparent;
        border-color: transparent;
    }

    .file_field input[type="file"]::file-selector-button:hover {
    background: var(--base-color-2);
}
}