.review_page {
    padding: 0 0 calc(var(--base-gap) * 1.5) 0;
}

.review_page .title {
    padding: 0;
    margin: 0 0 32px 0;
    font-size: calc(var(--base-font-size) * 3.5);
    line-height: calc(var(--base-font-size) * 3.5);
    color: var(--newGray);
}

.review-wrapper .container {
    display: flex;
    justify-content: center;
    justify-self: center;
    padding: 0 calc(var(--base-gap) * 5.25);
    max-width: calc(var(--base-font-size) * 90);
    width: 100%;
    flex-direction: column;
}

.review_page .review_button {
    padding: var(--base-font-size) calc(var(--base-font-size) * 1.5);
    width: calc(var(--base-font-size) * 22.75);
    font-size: calc(var(--base-font-size) * 1);
    color: #fff;
    border: 1px solid var(--base-color-6);
    background: linear-gradient(to right, var(--base-color-1), var(--base-color-2));
    border-radius: 0;
    outline: none;
    transition: border-color 0.5s ease, background-color 0.5s ease;
}

.review_page .section_title {
    display: block;
    margin: 0;
    font-size: calc(var(--base-font-size) * 2);
    line-height: calc(var(--base-font-line-height) * 2);
    font-weight: 700;
    color: var(--grafite);
}

.review_page .review__button {
    padding: var(--base-font-size) calc(var(--base-font-size) * 1.5);
    min-width: calc(var(--base-font-size) * 17);
    color: var(--base-color-2d);
    cursor: pointer;
    border: 1px solid var(--base-color-2d);
    font-size: calc(var(--base-font-size) * 1);
    background: transparent;
    outline: none;
    transition: border-color 0.5s ease, color 0.5s ease, background-color 0.5s ease;
}

.review_page .review__button {
    justify-self: center;
}

.review_page .review__title {
    padding: 0;
    margin: 0 0 64px 0;
    font-weight: 700;
    font-size: calc(var(--base-font-size) * 3);
    line-height: calc(var(--base-font-size) * 3);
    color: var(--newGray);
}

.review_page .review {
    display: flex;
    flex-direction: column;
    padding: calc(var(--base-gap) * 2) 0;
}

.review_page .review__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 32px;
    gap: calc(var(--base-gap) * 2);
}

.review_page .review__item {
    width: calc((100% / 3) - (var(--base-gap) * 2));
}

.review_page .review__logo {
    height: calc(var(--base-gap) * 3);
    margin-bottom: calc(var(--base-gap) * 1);
    filter: grayscale(1);
    opacity: 0.6;
}

.review_page .review__video {
    margin-bottom: calc(var(--base-gap) * 2);
}

.review_page .review__subtitle {
    margin: 0 0 32px 0;
    padding: 0;
    font-size: calc(var(--base-font-size) * 1.0);
    line-height: 1.5em;
    color: var(--base-color-6);
}

.review_page .review__subtitle-promo {
    font-size: calc(var(--base-font-size) * 2.0);
    line-height: 1.5em;
    /* color: var(--grafite); */
}

.review__text-promo{
    padding: 0;
    margin: 0 0 32px 0;
    font-size: calc(var(--base-font-size) * 1.0);
    line-height: calc(var(--base-font-size) * 1.25);
}

.review_page .review__text,
.review_page .steps__text {
    margin: 0 0 32px 0;
    padding: 0;
    font-size: calc(var(--base-font-size) * 1.0);
    line-height: calc(var(--base-font-size) * 1.25);
}

.review_page .review__text {
    margin: 0 0 16px 0;
}

.review__video-block {
    position: relative;
    width: 100%;
    max-width: 800px;
    height: auto;
    cursor: pointer;
}


.review__video-treck {
    width: 100%;
    height: auto;
    display: block;
}

.review__video-block::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 24px 0 24px 40px;
    border-color: transparent transparent transparent white;
    opacity: 1;
    /* transition: opacity 0.2s ease; */
}

/* Скрытие треугольника */
.review__video-block.playing::after {
    opacity: 0;
}

.review_page .review__button {
    align-self: center;
}

.review__promo-video {
    display: flex;
    flex-direction: column;    
    margin-bottom: 32px;
    width: calc((100% / 3) * 2);
}






@media (max-width: 1020px) {
    .review_page .container {
        padding: 0 calc(var(--base-gap) * 3.5);
    }

    .review_page .review__item {
    width: calc((100% / 2) - (var(--base-gap) * 1));
}
}

@media (max-width: 750px) {

    .review-wrapper .container {
        padding: 0 calc(var(--base-gap) * 2);
    }

    .review_page .review_button {
        align-self: center;
        padding: var(--base-font-size) calc(var(--base-font-size) * 1.5);
        max-width: calc(var(--base-font-size) * 20);
        font-size: calc(var(--base-font-size) * 0.75);
        width: 100%;
    }
 .review_page .review__promo-video,
 .review_page .review__item {
    width: 100%;
}
}

@media (any-hover: hover) {

    .review_page .review_button:hover {
        color: #fff;
        background: var(--base-color-2);
        border-color: var(--base-color-2);
    }

    .review_page .review__video-block:hover::after {
        opacity: 0.8;
    }

}