.scaner {
    padding-top: calc(var(--base-gap) * 2);
    font-family: var(--base-font);
}

.scaner .container {
    display: flex;
    padding: 0 calc(var(--base-gap) * 5.25);
    max-width: calc(var(--base-font-size) * 90);
    width: 100%;
}

.scaner .header {
    top: 0px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
}

.scaner .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: calc(var(--base-gap) * 4);
}

.scaner .content {
    display: flex;
    flex-direction: column;
    gap: calc(var(--base-gap) * 4);
    margin-left: 32px;
}


.scaner .new__title,
.scaner .last__title-main,
.scaner .future__title-main {
    position: relative;
    margin: 0 0 calc(var(--base-gap) * 2) 0;
    font-size: calc(var(--base-font-size) * 3);
    line-height: calc(var(--base-font-size) * 3);
    color: var(--newGray);
}

@media (max-width: 1199px) {
    .scaner .main {
        margin-bottom: calc(var(--base-gap) * 3);
    }

    .scaner .new__title {
        margin: 0 0 calc(var(--base-gap) * 0) 0;
        font-size: calc(var(--base-font-size) * 2);
        line-height: calc(var(--base-font-size) * 2);
    }
}




@media (max-width: 1020px) {
    .scaner .header {
        margin-bottom: 0;
    }

    .scaner .header .header__menu .container {
        padding: 0 calc(var(--base-gap) * 2) 0 calc(var(--base-gap) * 4);
    }

    .scaner .header .header__button {
        padding: calc(var(--base-gap) / 2) calc(var(--base-gap) * 3);
    }

    .scaner .content {
        margin-left: 32px;
        z-index: -1;
    }

    .scaner .new__title {
        margin: 0 0 calc(var(--base-gap) * 0) 0;

    }

    .scaner .container {
        padding: 0 calc(var(--base-gap) * 2) 0 calc(var(--base-gap) * 6);
    }

    .scaner .main .container {
        padding: 0 calc(var(--base-gap) * 2) 0 calc(var(--base-gap) * 4);
    }

    .scaner .main {
        margin-top: calc(var(--base-gap) * 2);
    }
}

@media (max-width: 750px) {
    .scaner {
        padding-top: calc(var(--base-gap) * 1.5);
    }


    .scaner .container {
        padding: 0 calc(var(--base-gap) * 2) 0 calc(var(--base-gap) * 5);
    }

    .scaner .header .header__list-top {
        padding-left: calc(var(--base-gap) * 4.5);
    }

    .scaner .main .container {
        padding: 0 16px 0 calc(var(--base-gap) * 4);
    }

    .scaner .content {
        margin-left: 16px;
        padding-right: 16px;
        width: 100%;
    }


    .scaner .main {
        margin-bottom: calc(var(--base-gap) * 2);
        /* margin-top: 176px; для sticky */
    }


    .scaner .header {
        margin-bottom: calc(var(--base-gap) * 1.5);
    }

    .scaner .header .header__logo-img {
        width: calc(var(--base-font-size) * 14);
        height: calc(var(--base-font-size) * 2.5);
    }

    .scaner .header .header__logo-name {
        font-size: calc(var(--base-font-size) * 1.38);
        line-height: calc(var(--base-font-size) * 1.0);
    }



    .scaner .header .header__logo {
        width: calc(var(--base-font-size) * 16);
        justify-content: space-between;
    }

    .scaner .header .header__logo-description {
        font-size: 14px;
        line-height: 14px;
    }

    .scaner .header .header__top {
        width: 100%;
        margin-bottom: 0;
        align-items: flex-start;
        gap: var(--base-gap);
    }

    .scaner .header .header__links {
        width: 100%;
        flex-direction: column;
        gap: var(--base-gap);
        align-items: flex-start;
    }

    .scaner .header .header__list-top {
        justify-content: flex-start;
        gap: calc(var(--base-gap) / 2);
        height: calc(var(--base-font-size) * 4.5);
        align-self: flex-start;
        align-items: center;
        width: calc(100% + var(--base-gap) * 6);
        margin-left: calc(var(--base-gap) * -4);
        padding-left: calc(var(--base-gap) * 4.5);
        background: linear-gradient(to right, var(--base-color-1), var(--go-button));
    }



    .scaner .header .header__burger {
        display: inline-block;
        width: var(--base-font-size);
        height: var(--base-font-size);
        color: #fff;
        transition: color 0.5s ease;
    }

    .scaner .header .header__burger-close {
        display: none;
    }

    .scaner .header .open {
        display: block;
        color: #fff;
        width: var(--base-font-size);
        height: var(--base-font-size);
    }


    .scaner .header .header__button,
    .scaner .header .User-name {
        padding: calc(var(--base-gap) / 4) calc(var(--base-gap) * 1.0);
        border: none;
        color: #fff;
        font-size: calc(var(--base-font-size) * 1);
    }

    .scaner .header .header__tel {
        font-size: calc(var(--base-font-size) * 1);

    }

    .scaner .header .header__top .header__button:hover {
        color: var(--base-color-2);
        background-color: transparent;
        border-color: transparent;
    }


}


@media (max-width: 430px) {
    .scaner .header .header__list-top {
        padding-left: calc(var(--base-gap) * 4);
        font-size: 12px;
    }

    .scaner .main .container {
        padding: 0 8px 0 48px;
    }

    /* .scaner .menu {
        width: 48px;
    } */



    .scaner .main .container {
        margin-left: 0px;
    }
}


@media (any-hover: hover) {

    /* .scaner .menu__item:hover */
    .scaner .main .event__button:hover,
    .scaner .header .header__top .header__button:hover,
    .scaner .main .banner__button:hover {
        color: #fff;
        background: var(--base-color-2);
        border-color: var(--base-color-2);
    }

    .scaner .header .header__tel:hover {
        color: var(--base-color-2);
        background-image: url(../img/phoneB.png);
    }

    .scaner .header .header__top .header__burger:hover,
    .scaner .future__link:hover .future__title {
        color: var(--base-color-2);
    }

    /* .scaner .menu__list-icon .menu__img:hover,
    .scaner .menu__item-mobil.show+.menu__list-icon .menu__img,
    .scaner .menu__item:hover .menu__img,
    .scaner .menu__list-icon .menu__img:hover,
    .scaner .menu__item:hover .menu__btn */
    .scaner .future__btn:hover .future__btn-img,
    .scaner .banner__button:hover .new__img,
    .scaner .last__btn:hover {
        color: var(--base-color-2);
        background-color: #fff;
    }



    .scaner .last__title:hover,
    .scaner .event__link:hover .event__btn,
    .scaner .event__link:hover .event__btn-img,
    .scaner .event__link:hover .event__title {
        color: var(--base-color-2);
    }

    .scaner .last__btn:hover .last__btn-img {
        color: var(--base-color-2);
    }

    .scaner .future__btn:hover,
    .scaner .last__btn:hover {
        color: #fff;
        background-color: var(--base-color-2);
        border-color: var(--base-color-2);
    }

    .scaner .last__link:hover {
        color: var(--base-color-2);
    }



}