.scaner {
    padding-top: calc(var(--base-gap) * 2);
    font-family: var(--base-font);
}

.scaner .container {
    display: flex;
    padding: 0 calc(var(--base-gap) * 5.25);
    max-width: calc(var(--base-font-size) * 90);
    width: 100%;
}

.scaner .header {
    top: 0px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
}

.scaner .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: calc(var(--base-gap) * 4);
}

.scaner .content {
    display: flex;
    flex-direction: column;
    gap: calc(var(--base-gap) * 4);
    margin-left: 32px;
}

.scaner .new__title,
.scaner .section_title {
    position: relative;
    margin: 0 0 calc(var(--base-gap) * 2) 0;
    font-size: calc(var(--base-font-size) * 3);
    line-height: calc(var(--base-font-size) * 3);
    font-weight: 700;
    color: var(--newGray);
}

.scaner .banner__block-info {
    padding: calc(var(--base-gap) * 1.5);
    padding-left: calc(var(--base-gap) * 12);
    line-height: 24px;
    border-radius: 8px;
    background-image: url(../img/fonScan.png);
    background-size: cover;
    color: var(--grafite);
}

.scaner .category_list {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.scaner .category_list .category {
    font-size: 1em;
    line-height: 1em;
    color: var(--newGray);
}

.scaner .category_list .category label {
    display: inline-block;
    margin-left: 0.5em;
}

.scaner .org_list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 4em;
}

.scaner .org_list .org {
    display: grid;
    grid-template-columns: 150px auto;
    align-self: start;
    gap: 4em;
    grid-template-areas: "org_logo org_info";
    padding: 3em;
    border-radius: 2em;
    border: 1px solid #efefef;
    box-shadow: 0px 0px 32px 0px rgba(51, 51, 51, 0.1);
    max-width: 1024px;
    width: 100%;
}

.scaner .org .org_logo {
    aspect-ratio: 1 / 1;
    width: 100%;
    background: #efefef;
    grid-area: org_logo;
    border-radius: 50%;
    display: flex;
    flex-wrap: nowrap;
    font-weight: bold;
    align-items: center;
    justify-self: stretch;
}

.scaner .org_list .org .org_logo div {
    width: 100%;
    text-align: center;
    font-size: 4em;
    color: #ffffff;
}

.scaner .org_list .org .org_info {
    grid-area: org_info;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5em;
    align-self: start;
    position: relative;
}

.scaner .org_list .org .org_title {
    font-weight: bold;
}

.scaner .org_list .org .org_city {
    padding-left: 1em;
    height: 1em;
    background: url(/project/webroot/images/vendors/point.svg) no-repeat left center;
}

.scaner .org_list .org .org_category {
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
}

.scaner .org_list .org .org_category .category {
    padding: 0.25em 0.5em;
    border: 1px solid #efefef;
    background: #efefef;
    color: #333333;
    border-radius: 0.25em;
    font-size: 0.8em;
}


.scaner .ask_negotiations {
    padding: var(--base-font-size) calc(var(--base-font-size) * 2.5);
    font-size: calc(var(--base-font-size) * 1);
    color: #fff;
    width: 290px;
    border: 1px solid var(--base-color-6);
    background: linear-gradient(to right, var(--base-color-1), var(--base-color-2));
    outline: none;
    transition: border-color 0.5s ease, background-color 0.5s ease;
}

@media (max-width: 1199px) {
    .scaner .main {
        margin-bottom: calc(var(--base-gap) * 3);
    }


    .scaner .new__title {
        margin: 0 0 calc(var(--base-gap) * 0) 0;
        font-size: calc(var(--base-font-size) * 2);
        line-height: calc(var(--base-font-size) * 2);
    }

    .scaner .banner__block-info {
        padding: 1em;
        background-image: url(../img/fonScanMob.png);
    }

    .scaner .org_list .org {
        grid-template-columns: 1fr;
        grid-template-areas:
            "org_logo"
            "org_info";
        align-self: start;
        gap: 2em;
    }

    .scaner .org .org_logo {
        width: 30%;
    }
}




@media (max-width: 1020px) {
    .scaner .header {
        margin-bottom: 0;
    }

    .scaner .header .header__menu .container {
        padding: 0 calc(var(--base-gap) * 2) 0 calc(var(--base-gap) * 4);
    }

    .scaner .header .header__button {
        padding: calc(var(--base-gap) / 2) calc(var(--base-gap) * 3);
    }

    .scaner .content {
        margin-left: 32px;
        z-index: -1;
    }

    .scaner .new__title {
        margin: 0 0 calc(var(--base-gap) * 0) 0;

    }

    .scaner .container {
        padding: 0 calc(var(--base-gap) * 2) 0 calc(var(--base-gap) * 6);
    }

    .scaner .main .container {
        padding: 0 calc(var(--base-gap) * 2) 0 calc(var(--base-gap) * 4);
    }

    .scaner .main {
        margin-top: calc(var(--base-gap) * 2);
    }

    

    .scaner .ask_negotiations {
        width: 100%;
    }
}

@media (max-width: 750px) {
    .scaner {
        padding-top: calc(var(--base-gap) * 1.5);
    }


    .scaner .container {
        padding: 0 calc(var(--base-gap) * 2) 0 calc(var(--base-gap) * 5);
    }

    .scaner .header .header__list-top {
        padding-left: calc(var(--base-gap) * 4.5);
    }

    .scaner .main .container {
        padding: 0 16px 0 calc(var(--base-gap) * 4);
    }

    .scaner .content {
        margin-left: 16px;
        padding-right: 16px;
        width: 100%;
    }


    .scaner .main {
        margin-bottom: calc(var(--base-gap) * 2);
        /* margin-top: 176px; для sticky */
    }


    .scaner .header {
        margin-bottom: calc(var(--base-gap) * 1.5);
    }

    .scaner .header .header__logo-img {
        width: calc(var(--base-font-size) * 14);
        height: calc(var(--base-font-size) * 2.5);
    }

    .scaner .header .header__logo-name {
        font-size: calc(var(--base-font-size) * 1.38);
        line-height: calc(var(--base-font-size) * 1.0);
    }



    .scaner .header .header__logo {
        width: calc(var(--base-font-size) * 16);
        justify-content: space-between;
    }

    .scaner .header .header__logo-description {
        font-size: 14px;
        line-height: 14px;
    }

    .scaner .header .header__top {
        width: 100%;
        margin-bottom: 0;
        align-items: flex-start;
        gap: var(--base-gap);
    }

    .scaner .header .header__links {
        width: 100%;
        flex-direction: column;
        gap: var(--base-gap);
        align-items: flex-start;
    }

    .scaner .header .header__list-top {
        justify-content: flex-start;
        gap: calc(var(--base-gap) / 2);
        height: calc(var(--base-font-size) * 4.5);
        align-self: flex-start;
        align-items: center;
        width: calc(100% + var(--base-gap) * 6);
        margin-left: calc(var(--base-gap) * -4);
        padding-left: calc(var(--base-gap) * 4.5);
        background: linear-gradient(to right, var(--base-color-1), var(--go-button));
    }



    .scaner .header .header__burger {
        display: inline-block;
        width: var(--base-font-size);
        height: var(--base-font-size);
        color: #fff;
        transition: color 0.5s ease;
    }

    .scaner .header .header__burger-close {
        display: none;
    }

    .scaner .header .open {
        display: block;
        color: #fff;
        width: var(--base-font-size);
        height: var(--base-font-size);
    }


    .scaner .header .header__button,
    .scaner .header .User-name {
        padding: calc(var(--base-gap) / 4) calc(var(--base-gap) * 1.0);
        border: none;
        color: #fff;
        font-size: calc(var(--base-font-size) * 1);
    }

    .scaner .header .header__tel {
        font-size: calc(var(--base-font-size) * 1);

    }

    .scaner .header .header__top .header__button:hover {
        color: var(--base-color-2);
        background-color: transparent;
        border-color: transparent;
    }


}


@media (max-width: 430px) {
    .scaner .header .header__list-top {
        padding-left: calc(var(--base-gap) * 4);
        font-size: 12px;
    }

    .scaner .main .container {
        padding: 0 8px 0 48px;
    }

    /* .scaner .menu {
        width: 48px;
    } */



    .scaner .main .container {
        margin-left: 0px;
    }
}


@media (any-hover: hover) {


    .scaner .ask_negotiations:hover {
        color: #fff;
        background: var(--base-color-2);
        border-color: var(--base-color-2);
    }




}