:root {
    --base: 1em;
    --white: #fff;
    --text: #D9D9D9;
}

@font-face {
    font-family: 'Fors';
    src: local('TT Fors'), url('../fonts/TT\ Fors\ Trial\ Regular.woff') format('woff2'), url('../fonts/TT\ Fors\ Trial\ Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Fors ExtraBold';
    src: local('TT Fors ExtraBold'), url('../fonts/TT\ Fors\ Trial\ ExtraBold.woff') format('woff2'), url('../fonts/TT\ Fors\ Trial\ ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

body {
    margin: 0;
    padding: calc(var(--base) * 5);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text);
    font-family: 'Fors';
    background-color: #1B283A;
}

.dinamics {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 32%;
    height: 100%;
    margin-right: 120px;
    font-size: calc(var(--base) * 1.75);
}

.logo {
    display: flex;
    justify-content: space-between;
    max-width: 406px;
    width: 100%;
    margin-bottom: calc(var(--base) * 2);
}

.logo__img {
    width: 100px;
    height: 100px;
}

.logo__brand {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 282px;
    height: 107px;
}

.logo__description {
    display: block;
    justify-self: end;
    font-size: 21px;
    line-height: 21px;
    font-family: var(--base-font);
    font-weight: 400;
    color: var(--white);
}

.logo__name {
    font-size: 34px;
    line-height: 37px;
    letter-spacing: -3%;
    font-family: 'Fors extraBold';
    font-weight: 700;
    color: var(--base-color-6);
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: auto;
}

.info__title,
.info__subtitle,
.info__text {
    margin: 0;
    padding: 0;
    margin-bottom: calc(var(--base) * 1);
}

.main {
    display: flex;
    width: 52%;
}