:root {
    --base: 1em;
    --white: #fff;
    --text: #b2b2b2;
    --main-text: #fff;
    /* --main-text: #52a7e5; */
    /* --main-text: #b2b2b2; */
    --base-font: 'Fors';
    --base-bold-font: 'Fors ExtraBold';
    /* --gold: #FF664B; */
    --gold: #f15959;
    /* --gold: #C2AE63; */
    --fon: #1e2745;
    /* --fon:#181d2d; */
    --grey: #999;

}

@font-face {
    font-family: 'Fors';
    src: local('TT Fors'), url('../fonts/TT\ Fors\ Trial\ Regular.woff') format('woff2'), url('../fonts/TT\ Fors\ Trial\ Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Fors ExtraBold';
    src: local('TT Fors ExtraBold'), url('../fonts/TT\ Fors\ Trial\ ExtraBold.woff') format('woff2'), url('../fonts/TT\ Fors\ Trial\ ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

body {
    margin: 0;
    padding: calc(var(--base) * 5);
    height: 100vh;
    display: flex;
    justify-content: center;
    color: var(--text);
    font-family: 'Fors';
    background-color: var(--fon);
}

.dinamics {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 100%;
    margin-right: 32px;
    font-size: calc(var(--base) * 1.75);
}

.logo {
    display: flex;
    justify-content: space-between;
    max-width: 386px;
    width: 100%;
    margin-bottom: 92px;
}

.logo-img {
    width: 88px;
    height: 88px;
    margin-right: 16px;
}

.logo-brand {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 282px;
    height: 107px;
    color: var(--white);
}

.logo-description {
    display: block;
    justify-self: end;
    font-size: 21px;
    line-height: 21px;
    font-family: var(--base-font);
    font-weight: 400;
    color: var(--text);
}

.logo-name {
    font-size: 34px;
    line-height: 37px;
    letter-spacing: -3%;
    font-family: 'Fors extraBold';
    color: var(--text);
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-title,
.info-subtitle,
.info-text {
    margin-bottom: calc(var(--base) * 1);
}

.info-title,
.info-subtitle {
    font-weight: 700;
}

.info-title {
    font-family: 'Fors ExtraBold';
}

.info-photo {
    margin-bottom: calc(var(--base) * 1);
}

.info-img {
    border-radius: calc(var(--base) / 2);
}


.toc-table {
    display: flex;
    width: 520px;
    border-collapse: collapse;
}

.toc-row {
    display: flex;
    justify-content: space-between;
    width: 520px;
    padding: 4px 0;
    
}

.toc-dots {
    flex-grow: 1;
    border-bottom: 1px dotted #999;
    margin: 0 8px;
    position: relative;
    top: -4px;
}

.toc-left {
    
}

.toc-right {    
    width: 60px;
}
.main {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-end;
    width: 75%;
}

.main-text {
    margin-bottom: calc(var(--base) * 5);
    font-size: calc(var(--base) * 1.75);
    color: var(--text);
}

.main-result {
    position: relative;
    font-family: 'Fors ExtraBold';
    font-size: calc(var(--base) * 8.5);
    margin-bottom: 184px;
    color: var(--white);
    z-index: 1;
}

.main-count,
.main-block {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 1120px;
    margin-bottom: 64px;
}

.main-count {
    margin-bottom: 84px;
}

.main-count-block {
    text-align: center;
}

.all-sum,
.success-sum,
.procent-sum {
    font-size: calc(var(--base) * 3);
    font-weight: 700;
    color: var(--gold);
}

.all-text,
.success-text,
.procent-text {
    font-size: calc(var(--base) * 1.75);
    color: var(--main-text);
}

.main-block-clock {
    width: 240px;
    height: 106px;
    border-right: 2px solid #D9D9D9;
}

.main-block-now {
    display: flex;
    justify-content: center;
    width: 540px;
    height: 106px;
    border-right: 2px solid #D9D9D9;
}

.main-block-text {
    width: 340px;
    height: 106px;
    margin-left: 40px;
    color: var(--main-text);
}

.footer {
    align-self: center;
}

.sk-img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.hours-block,
.hour-top {
    display: inline-block;
    color: var(--main-text);
}

.hours {
    display: inline-block;
    margin-right: 16px;
    width: 36px;
    font-size: 62px;
    color: var(--gold);
    font-weight: 700;
    text-align: right;
}

.hours-text {
    display: inline-block;
    font-size: 28px;
}

.hour-bottom {
    font-size: 14px;
}

.minutes,
.minutes-text {
    text-align: right;
    display: inline-block;
    font-size: 28px;
    color: var(--main-text);
}

.minutes {
    width: 36px;
    margin-right: 16px;
    color: var(--gold);
    font-weight: 700;
}


.main-now {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 80px;
}

.now-title {
    display: block;
    font-family: var(--base-bold-font);
    width: 100%;
    font-size: 48px;
    margin-bottom: 16px;
    color: var(--white);
}

.now-day,
.now-time {
    display: inline-block;
    font-size: 28px;
    color: var(--white);
    font-weight: 700;
}

.user-count,
.user-text,
.kp-count,
.kp-text {
    display: inline-block;
    font-size: 28px;
    margin-bottom: 8px;
}

.user-count,
.kp-count {
    margin-right: 16px;
    color: var(--gold);
    font-weight: 700;
}

.now-clock {
    font-size: 28px;
    font-weight: 700;
    color: var(--gold);

}

.now-clock {
    display: block;

}

.text-kp {
    display: flex;
    justify-content: space-between;
}

.bg-img {
    position: absolute;
    top: 5px;
    left: -292px;
    opacity: 0.2;
    z-index: -10;
    /* animation: moveAndFade 2s linear; */
}

.color {
    color: var(--gold);
}

.clock-block {
    display: inline-block;
    position: relative;
    width: 19px;
    height: 28px;
}

.clock-top {
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 19px;
    background-color: var(--gold);
    z-index: -1;
}

.clock-bottom {
    position: absolute;
    height: 0px;
    width: 100%;
    left: 0;
    bottom: 10px;
    background-color: var(--gold);
    z-index: -2;
}

.clock-face {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5000;
}

.clock-center {
    position: absolute;
    height: 7px;
    width: 55%;
    left: 0;
    bottom: 10px;
    border-right: 1px dashed var(--gold);
}

.success-block {
    --p: 0;
    --b: 6px;
    --w: 32px;
    --c: var(--text);
    --f: #414158;

    width: var(--w);
    aspect-ratio: 1;
    position: relative;
    display: inline-grid;
    place-content: center;
    font-size: 28px;
    font-weight: bold;
    font-family: sans-serif;
}

.success-block:before,
.success-block:after {
    content: "";
    position: absolute;
    border-radius: 50%;
}

.success-block:before {
    inset: 0;
    background: radial-gradient(farthest-side, var(--c) 98%, #0000) top/var(--b) var(--b) no-repeat, conic-gradient(var(--c) calc(var(--p) * 1%), var(--f) 0);
    mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
}

.success-block:after {
    inset: calc(50% - var(--b) / 2);
    background: var(--c);
    transform: rotate(calc(var(--p) * 3.6deg)) translateY(calc(50% - var(--w) / 2));
}

.no-round:before {
    background-size: 0 0, auto;
}

.no-round:after {
    content: none;
}

/* Анимация */
@property --p {
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
}

.success-blockanimate {
    animation: p 1s .5s both;
}

@keyframes p {
    from {
        --p: 0
    }
}

/* @keyframes moveAndFade {
    0% {
        top: 50px;
        left: -400px;
        opacity: 0;
    }
    100% {
        top: 25px;
        left: -325px;
        opacity: 0.3;
    }
} */

.line {
    position: absolute;
    top: 50%;
    width: 2px;
    height: 2px;

}

.left {
    left: 0;
    background-color: var(--gold);
    animation: grow 7s linear infinite;
}

.right {
    left: 100px;
    background-color: #00f4ff;
    animation: growR 7s linear infinite;
}

@keyframes grow {
    0% {
        width: 2px;
        height: 2px;
        top: 438px;
        left: 0px;
    }

    50% {
        width: 500px;
        height: 2px;
        top: 438px;
        left: 500px;
    }

    100% {
        width: 500px;
        height: 2px;
        top: 438px;
        left: 1000px;
    }
}

@keyframes growR {
    0% {
        width: 2px;
        height: 2px;
        top: 446px;
        left: 100px;
    }

    50% {
        width: 500px;
        height: 2px;
        top: 446px;
        left: 600px;
    }

    100% {
        width: 500px;
        height: 2px;
        top: 446px;
        left: 1100px;
    }
}