@media (min-width: 300px) and (max-width: 1024px) {
	
	body {
		padding:1em;
	}
	
	.event .timetable td {
		padding: 0.5em 0;
		border-bottom: 1px solid #efefef;
	}
	
	.login {
		float:none;
		margin-bottom:1em;
	}
	
	
}
