:root {
    
    --headers-text-color: rgba(51, 51, 51, 1);
    --main-text-color: rgba(51, 51, 51, 1);
    --sub-text-color: rgba(153, 153, 153, 1);
    --border-color: rgba(153, 153, 153, 1);
    --base-color-1: #0537c8;
    --base-color-2: #5bc5f2;
    --base-color-6: #005BAA;
    --base-color-7: #3762CF;
    --link-color-1: rgba(5, 55, 200, 1);
    --link-visited-color-1: rgba(120, 3, 158, 1);
    --error-color-4: rgba(243, 71, 71, 1);
    --base-font: 'Fors';
    --base-bold-font: 'Fors ExtraBold';
    --base-font-size: 1rem;
    --base-font-line-height: 1rem;
    --base-gap: 1rem;
    --background-1-opacity-80: rgba(5, 55, 200, 0.8);
    --background-2-opacity-80: rgba(80, 200, 255, 1);
    --svgGradient: linear-gradient(to right, var(--base-color-1), var(--base-color-2));
    --item-border: #dadada;
    /* --events-acsent: #02ad35; */
    --go-button: #005BAA;
    --newGray: #6c7a93;
    --lightBlue: #E6F4FF;
    --darkBlue: #7DB3E3;
    --grafite: #24252D;

}
@font-face {
    font-family: 'Fors';
    src: local('TT Fors'), url('../fonts/fors/TT\ Fors\ Trial\ Regular.woff') format('woff'), url('../fonts/TT\ Fors\ Trial\ Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Fors ExtraBold';
    src: local('TT Fors ExtraBold'), url('../fonts/fors/TT\ Fors\ Trial\ ExtraBold.woff') format('woff'), url('../fonts/fors/TT\ Fors\ Trial\ ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

body, html {
	background: #fff;
	font-family: 'Fors';
	padding:0px; 
	margin:0 auto; 
	font-weight: 400; 
	font-style: normal; 
	color:#1A1A1A; 
	line-height:1.2; 
	
}

/* Ð‘Ð°Ð·Ð¾Ð²Ñ‹Ðµ ÑÑ‚Ð¸Ð»Ð¸ */

img {border:0px;}
a:link{
	color:#03509E;
	text-decoration:none;
	border-bottom:1px solid #03509E;
}
a:hover{
	color:#FFCC00;
	text-decoration:none;
	border-bottom:1px solid #FFCC00;
}
a:visited{
	color:#3781CF; 
	text-decoration:none;
	border-bottom:1px solid #3781CF;
}
a:visited:hover{
	color:#FFCC00; 
	text-decoration:none;
	border-bottom:1px solid #FFCC00;
}
h1 {font-size: 2em; font-weight: 700; margin: 0 0 1em 0;}
h2 {font-size: 1.6em; font-weight: 700; margin: 1em 0 1em 0;}
h3 {font-size: 1.2em; font-weight: 700; margin: 1em 0 1em 0;}
h4 {font-size: 1em; font-weight: 700; margin: 1em 0 1em 0;}
p {padding: 0.2em 0px 0.2em 0px;}
textarea {width:100%; height:90px;} 
hr {border-top:1px solid #333333; border-bottom:0px solid #cccccc; margin-bottom:24px; margin-top:24px; clear:both;}
blockquote {border-left:6px solid #333333; margin: 24px 0px; padding-left:12px; font-weight:bold;}
fieldset {margin:10px 0px 10px 0px; padding: 10px; border:1px solid #333333;}
legend {font-weight:bold;}
input {padding:0px; }

 
/* Ð¡Ñ‚Ñ€Ð°Ð½Ð¸Ñ†Ð° Ð·Ð°Ð¿Ð¸ÑÐ¸ Ð½Ð° ÑÐ¾Ð±Ñ‹Ñ‚Ð¸Ðµ */ 
body {
	padding: 2em 2em 0 2em;
} 

.version {
	margin-bottom:1em;
	margin-top:-1em;
}

.version .change_lang {
    cursor: pointer;
    border-bottom: 1px solid var(--darkBlue);
	color: var(--newGray);
}

.version .change_lang.active {
    cursor: none;
    border-bottom: 0px solid var(--base-color-2);
    font-weight: bold;
}
.gen_prop{
	padding: 8px 16px;
	font-family: var(--base-font);
	color: #fff;
	background-color: var(--base-color-6);
	border: 1px solid var(--base-color-1);
	transition: background-color 0.3s ease, --border-color 0.3s ease;
}

.gen_prop:hover{	
	background-color: var(--base-color-2);
	border-color: var(--base-color-2);
}
.main.stat {
	margin:0em;
}



.main.stat .top {
	display: grid;
	grid-template-areas:
		"logo_field time_field total_field";
	grid-template-columns: repeat(3, 1fr);
	gap:2em;
	/* margin-bottom:2em; */
}

.main.stat .top .logo_field {
	grid-area: logo_field;
	position:relative;
 
}

.main.stat .top .logo_field .content {
	position:absolute;
	top:0;
	left:0;
	z-index:2;
	background: rgb(5,55,200,0.8);
	display: grid;
	grid-template-areas:
		"logo title title title"
		"field-1 field-1 field-2 field-2";
	grid-template-columns: repeat(4, 1fr);
	gap: 1em;
	color:#ffffff;
	border-radius:1em;
	padding:2em;
	height: 90%;
	width:100%;
	overflow:hidden;
}

.main.stat .top .logo_field .video-box {
	position:absolute;
	height: 90%;
	width:100%;
	top:0;
	left:0;
	z-index:1;
	border-radius:1em;
	overflow:hidden;
}

.main.stat .top .logo_field .video-box video {
	width:140%;
	height:auto;
	position:absolute;
	top:-2em;
	left:0;
}

.main.stat .top .logo_field .logo {
	grid-area: logo;
	padding-right:1em;
}

.main.stat .top .logo_field .logo img {
	 
}

.main.stat .top .logo_field .title {
	grid-area: title;
	font-size:2em;
	font-family: 'Fors ExtraBold';
}

.main.stat .top .logo_field .ttl2 {
	font-size: 0.5em;
	font-family: 'Fors';
	margin-top:1em;
}

.main.stat .top .logo_field .ttl2 .sk_field svg {
	width: 24px;
}

.main.stat .top .logo_field .field-1 {
	grid-area: field-1;
	display: grid;
    grid-template-areas: "field-1-ttl field-1-data" "field-2-ttl field-2-data";
	grid-template-columns: repeat(2, 1fr);
	gap:0.5em;
}

.main.stat .top .logo_field .field-1 .field-1-ttl {
	grid-area: field-1-ttl;
	padding-top:0.5em;
}

.main.stat .top .logo_field .field-1 .field-1-data {
	grid-area: field-1-data;
	font-size:2.5em;
	font-family: 'Fors ExtraBold';
}

.main.stat .top .logo_field .field-1 .field-2-ttl {
	grid-area: field-2-ttl;
	padding-top:0.5em;
}

.main.stat .top .logo_field .field-1 .field-2-data {
	grid-area: field-2-data;
	font-size:2.5em;
	font-family: 'Fors ExtraBold';
}

.main.stat .top .logo_field .field-2 {
	grid-area: field-2;
	display: grid;
    grid-template-areas: "field-2-ttl field-2-data";
	grid-template-columns: repeat(2, 1fr);
	gap:1em;
}

.main.stat .top .logo_field .field-2 .field-2-ttl {
	grid-area: field-2-ttl;
	padding-top:0.5em;
}

.main.stat .top .logo_field .field-2 .field-2-data {
	grid-area: field-2-data;
	font-size:2.5em;
	font-family: 'Fors ExtraBold';
}

.main.stat .top .time_field {
	grid-area: time_field;
	/* border:1px solid #cccccc; */
	border-radius:1em;
	padding:2em;
}

.main.stat .top .time_field .date {
	text-align:center;
	margin: 0 0 1em 0;
	font-size:1.5em;
}

.main.stat .top .time_field .time {
	text-align:center;
	font-size:8em;
	font-family: 'Fors ExtraBold';
	color: #cccccc;
}

.main.stat .top .time_field .city {
	text-align:center;
	/* margin: 1em 0 0 0; */
	font-size:1.5em;
}


.main.stat .top .total_field {
	grid-area: total_field;
	
	

	position: relative;
}

.main.stat .top .total_field .content {
	position:absolute;
	top:0;
	left:0;
	z-index:2;
	width:100%;
	height: 90%;
	z-index:2;
	/* background: linear-gradient(329deg, #6eff86, #ffffc1);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 310s ease infinite;
    animation: AnimationName 10s ease infinite; */
	background: rgb(11,249,110,0.8);
	overflow:hidden;
	border-radius:1em;
}

.main.stat .top .total_field .content.chinise {
	background: url("/project/webroot/images/rus-chi-flag.jpg") no-repeat;
	background-size:cover;
}

.main.stat .top .total_field .content.chinise .ttl {
	text-align:right;
	font-size:2em;
	padding:0.5em;
	width:100%;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
	background: transparent;
	background-position:  84% 1em;
	background-size:180px;
}

.main.stat .top .total_field .content.chinise .summ {
	background: transparent;
	text-align:right;
}

.main.stat .top .total_field .content.chinise .ttl .box {
	color:#333333;
	width: 50%;
    margin: 0 0 0 auto;
    padding-top: 0.5em;
    font-family: 'Fors ExtraBold';
}

/* @-webkit-keyframes AnimationName {
    0%{background-position:11% 0%}
    50%{background-position:90% 100%}
    100%{background-position:11% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:11% 0%}
    50%{background-position:90% 100%}
    100%{background-position:11% 0%}
}
@keyframes AnimationName {
    0%{background-position:11% 0%}
    50%{background-position:90% 100%}
    100%{background-position:11% 0%}
} */


.main.stat .top .total_field .video-box {
	FONT-VARIANT: JIS78;
	position:absolute;
	height: 90%;
	width:100%;
	top:0;
	left:0;
	z-index:1;
	border-radius:1em;
	overflow:hidden;
}

.main.stat .top .total_field .video-box video {
	width:140%;
	height:auto;
	position:absolute;
	top:-2em;
	left:0;
}



.main.stat .top .total_field .ttl {
	text-align:right;
	font-size:2em;
	padding:0.5em;
	width:100%;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
	background: url("/project/webroot/images/gatsby-sm.png") no-repeat;
	background-position:  84% 1em;
	background-size:180px;
}

.main.stat .top .total_field .ttl .box {
	width:50%;
	margin:0 auto 0 0;
	padding-top:0.5em;
	font-family: 'Fors ExtraBold';
}

.main.stat .top .total_field .ttl .box #top_stat {
	display:block;
}

.main.stat .top .total_field .summ {
	text-align:center;
	font-size:2.5em;
	font-family: 'Fors ExtraBold';
	padding:0.6em 0.5em 0.6em 0.5em;
	color:#ffffff;
	background:#008d2f;
	 
}

.main.stat .top .total_field .summ:after {
	content: " 000 ₽"
}

.main.stat .top .total_field .chinise .summ:after {
	content: " 000 ¥"
}

.main.stat .middle {
	display: grid;
    grid-template-areas: "vendor_field vendor_field center_field center_field center_field center_field buyer_field buyer_field";
	grid-template-columns: repeat(8, 1fr);
	gap:2em;
	margin-bottom:2em;
}

.main.stat .middle .vendor_field {
	grid-area: vendor_field;
	border:0px solid #cccccc;
	border-radius:1em;
	padding:2em;
}

/* .main.stat .middle .vendor_field {
    background: linear-gradient(270deg, #cbcdff, #ffffbf);
    background-size: 400% 400%;
    -webkit-animation: vendor_field_animation 10s ease infinite;
    -moz-animation: vendor_field_animation 10s ease infinite;
    animation: vendor_field_animation 10s ease infinite;
}

@-webkit-keyframes vendor_field_animation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes vendor_field_animation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes vendor_field_animation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
 */
.main.stat .middle .vendor_field .ttl {
	text-align:center;
	margin-bottom:0.5em;
	font-size:1.5em;
	font-family: 'Fors ExtraBold';
	background: url("/project/webroot/images/wreath2.png") no-repeat center bottom;
	background-size:80px;
	padding: 0 0 4em 0;
}

.main.stat .middle .vendor_field .name {
	text-align:center;
	font-size:2em;
}

.main.stat .middle .vendor_field .sub-ttl {
	margin-top:2em;
	margin-bottom: 1em;
	font-size:1.5em;
	font-family: 'Fors ExtraBold';
	text-align:center;
}

.main.stat .middle .vendor_field .list .item {
	display:flex;
	flex-wrap: wrap;
	gap:1em;
	margin-bottom:0.5em;
	font-size:1.25em;
}

.main.stat .middle .vendor_field .list .item .num {
 	width:1em;
}

.main.stat .middle .vendor_field .list .item .sname {
	width:calc(100% - 4em);
}

.main.stat .middle .vendor_field .list .item .totall {
	width:1em;
	text-align:right;
}


.main.stat .middle .center_field {
	grid-area: center_field;
	border-radius:1em;
	padding:2em;
	-webkit-box-shadow: 4px 32px 66px 18px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 4px 32px 66px 18px rgba(34, 60, 80, 0.2);
	box-shadow: 4px 32px 66px 18px rgba(255, 204, 0, 0.2);
	background:#ffffff;
	border:4px solid #ffec83;
}

.main.stat .middle .center_field .ttl {
	margin-bottom:0.5em;
	font-size:4em;
	font-family: 'Fors ExtraBold';
	text-align:center;
}

.main.stat .middle .center_field .result {
	display: grid;
    grid-template-areas: "res-1 res-2 res-3";
	grid-template-columns: repeat(3, 1fr);
	gap:2em;
}

.main.stat .middle .center_field .result .res-1 {
	grid-area: res-1;
}

.main.stat .middle .center_field .result .res-2 {
	grid-area: res-2;
}

.main.stat .middle .center_field .result .res-3 {
	grid-area: res-3;
}

.main.stat .middle .center_field .result .res-ttl {
	margin-bottom:1em;
	font-size:1.8em;
	text-align:center;
	height:2em;
	font-weight:bold;
}

.main.stat .middle .center_field .result .res-data {
	font-size:3em;
	font-family: 'Fors ExtraBold';
	text-align:center;
	height:1em;
	overflow:hidden;
}

.main.stat .middle .center_field .result .res-data .points {
	font-size:0.5em;
	font-family: 'Fors';
}

.main.stat .middle .center_field .chart {
	margin-top:4em;
}

.main.stat .middle .center_field .chart .chart-res {
	display:flex;
	margin-bottom:1em;
}

.main.stat .middle .center_field .chart .chart-res:last-child {
	margin-bottom:0em;
}

.main.stat .middle .center_field .chart .chart-res .line {
	width:50%;
}

.main.stat .middle .center_field .chart .chart-res .line .field {
	padding:0.5em;
}

.main.stat .middle .center_field .chart .chart-res .line .field.confirm {
	background:#6ff96e;
} 

.main.stat .middle .center_field .chart .chart-res .line .field.rebuild {
	background:#fffa45;
} 

.main.stat .middle .center_field .chart .chart-res .line .field.reject {
	background:#ff6565;
} 

.main.stat .middle .center_field .chart .chart-res .percent {
	width:20%;
	font-size:2em;
	font-family: 'Fors ExtraBold';
}

.main.stat .middle .center_field .chart .chart-res .percent div {
	margin: 0 1em;
}

.main.stat .middle .center_field .chart .chart-res .label {
	padding:0.5em 0;
	width:30%;
}

.main.stat .middle .center_field .chart-line {
	display:flex;
	gap:2em;
	margin-top:1em;
}

.main.stat .middle .center_field .chart-line .res-ttl {
	width:50%;
}

.main.stat .middle .center_field .chart-line .res-data {
	font-size: 1.5em;
    font-family: 'Fors ExtraBold';
}


.main.stat .middle .buyer_field {
	grid-area: buyer_field;
	border:0px solid #cccccc;
	border-radius:1em;
	padding:2em;
}




.main.stat .middle .buyer_field .ttl {
	text-align:center;
	margin-bottom:0.5em;
	font-size:1.5em;
	font-family: 'Fors ExtraBold';
	background: url("/project/webroot/images/wreath.png") no-repeat center bottom;
	padding: 0 0 4em 0;
	background-size:80px;
}

.main.stat .middle .buyer_field .name {
	text-align:center;
	font-size:2em;
}

.main.stat .middle .buyer_field .sub-ttl {
	margin-top:2em;
	margin-bottom: 1em;
	font-size:1.5em;
	font-family: 'Fors ExtraBold';
	text-align:center;
}

.main.stat .middle .buyer_field .list .item {
	display:flex;
	flex-wrap: wrap;
	gap:1em;
	margin-bottom:0.5em;
	font-size:1.25em;
}

.main.stat .middle .buyer_field .list .item .num {
 	width:1em;
}

.main.stat .middle .buyer_field .list .item .sname {
	width:calc(100% - 4em);
}

.main.stat .middle .buyer_field .list .item .totall {
	width:1em;
	text-align:right;
}





.main.stat .bottom {
	border:1px solid #cccccc;
	padding:2em;
}


.main.stat .slide .video-box {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
	background:#000000;
}

.main.stat .slide .video-box video {
    display:block;
	height:100%;
	margin: 0 auto;
}


.manager_stat {
	margin:0;
	display:flex;
	flex-direction: column;
	gap:2em;
}

.manager_stat .title {
	padding: 0;
    margin: 0 0 32px 0;
    font-size: calc(var(--base-font-size) * 3.5);
    line-height: calc(var(--base-font-size) * 3.5);
    color: var(--newGray);
}

.manager_stat .allCat_list td{
	padding: 1em;
	background-color: var(--lightBlue);
} 

.manager_stat .cat_list .header,
.manager_stat .allCat_list .header{
	font-weight:bold;
	text-align:left;
	padding: 1em;
	background-color:var(--newGray);
	color:#ffffff;
	position: sticky;
	top: 0;
	z-index: 5000;
}

.manager_stat .allCat_list .header{
	width: calc(100% / 3);
}

.manager_stat .cat_list .header:hover{
	cursor:pointer;
}

.manager_stat .cat_list .data td {
	padding: 1em;
}

.manager_stat .cat_list .data td.cat {
	position: relative;
	color:#03509E;
	cursor:pointer;
}

.manager_stat .cat_list .data td.cat::after {
	content: "";
    position: absolute;
    top: 20px;
    left: 50%;
    width: 0;
    height: calc(var(--base-gap) * 1.25);
    border-bottom: 1px solid transparent;
    background-color: transparent;
    transition: width 0.3s ease, border-bottom-color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
    transform: translateX(-50%);
}


.manager_stat .cat_list .data td.cat:hover::after {
        width:95%;
        border-bottom-color: var(--darkBlue);
        transform: translateX(-50%);
    }

.manager_stat .cat_list .data td.sum:after,
.manager_stat .allCat_list  td#sumContract:after {
	content: " млрд. руб.";
}

.manager_stat .cat_list .data:nth-child(even) {
	background:var(--lightBlue);
}

.manager_stat .cat_result {
	display:none; 
	position: fixed; 
	top:0em; 
	left:0em; 
	width: calc(100vw); 
	height: calc(100vh);  
	overflow-y: scroll; 
	background:#efefef; 
	padding:2em;
}

.manager_stat .cat_result .close {
	position:fixed;
	top:4em;
	right:6em;
	padding:1em 2em;
	color: #fff;
	background-color:var(--base-color-6);
	z-index:100;
	transition: background-color 0.3s ease;
}

.manager_stat .cat_result .close:hover {
	cursor:pointer;
	background-color:var(--base-color-2);
}

.manager_stat .cat_result .res_field {
	display:flex;
	flex-direction: column;
	gap:2em;
	padding:4em;
	background:#ffffff;
	border-radius: 2em;
	
}

.manager_stat .cat_result .res_field .cat_name {
	font-size:2em;
	font-weight:bold;
	position:sticky;
	top:0em;
	left:0em;
	color: var(--grafite);
	background:#ffffff;
    z-index: 0 ;
}
.manager_stat .cat_result .res_field .cat_contract_field {
	width: 100%; 
	height: 35vh;
	overflow-y: scroll; 
}
.manager_stat .cat_result .res_field .cat_data_field {
	width: 100%; 
	height: 35vh;  
	overflow-y: scroll; 
}
.manager_stat .contract-table,
.manager_stat .cat_result .res_field .cat_data {
	width: 100%; 
}

.manager_stat .cat_result .res_field .cat_data tr:nth-child(even),
.manager_stat .contract-table tr:nth-child(even){
	background:#e0efff;
} 

.manager_stat .cat_result .res_field .cat_data th,
.manager_stat .contract-table th {
	padding:1em;
	text-align:left;
	cursor:pointer;
	position:sticky;
	top:0em;
	left:0em;
	background:var(--newGray);
	color:#ffffff;
    width: calc(100% / 3);
}

.manager_stat .cat_result .res_field .cat_data td,
.manager_stat .contract-table td {
	padding:1em;
} 







@media (min-width: 300px) and (max-width: 1024px) {
	
	.main.stat .top {
		display: flex;
		flex-direction: column;
		gap: 1em;
		margin-bottom: 1em;
	}
	
	.main.stat .top .logo_field {
		grid-area: logo_field;
		position: relative;
		height:200px;
	}
	
	.main.stat .top .logo_field .logo {
		grid-area: logo;
		padding-right: 0em;
	}
	
	.main.stat .top .logo_field .content {
		grid-template-areas:
			"logo title title"
			"logo field-1 field-2";
		grid-template-columns: repeat(3, 1fr);
		gap: 1em;
		padding: 1em;
	}
	
	.main.stat .top .logo_field .field-1 {
		grid-area: field-1;
		display: grid;
		grid-template-areas:
			"field-1-ttl"
			"field-1-data";
		grid-template-columns: repeat(1, 1fr);
		gap: 0.5em;
	}
	
	.main.stat .top .logo_field .field-2 {
		grid-area: field-2;
		display: grid;
		grid-template-areas: "field-2-ttl" "field-2-data";
		grid-template-columns: repeat(1, 1fr);
		gap: 1em;
	}
	
	.main.stat .top .logo_field .field-1 .field-1-data {
		grid-area: field-1-data;
		font-size: 2em;
		font-family: 'Fors ExtraBold';
	}
	
	.main.stat .top .logo_field .field-2 .field-2-data {
		grid-area: field-2-data;
		font-size: 2em;
		font-family: 'Fors ExtraBold';
	}
	
	.main.stat .top .logo_field .field-1 .field-1-ttl {
		padding:0;
	}
	
	.main.stat .top .logo_field .field-2 .field-2-ttl {
		padding:0;
	}
	
	.main.stat .top .logo_field .title {
		font-size:1.25em;
	}

	
	
	.main.stat .top .time_field {
		display:none;
	}
	
	.main.stat .top .total_field {
		height:260px;
	}
	
	.main.stat .top .total_field .ttl .box {
		width: 50%;
		margin: 0 auto 0 0;
		padding-top: 0.5em;
		font-family: 'Fors ExtraBold';
		font-size:0.8em;
	}
	
	.main.stat .top .total_field .summ {
		text-align: center;
		font-size: 2em;
		font-family: 'Fors ExtraBold';
		padding: 0.25em;
		color: #ffffff;
		background: #008d2f;
	}
	
	.main.stat .middle {
		display: grid;
		grid-template-areas: 
			"center_field"
			"vendor_field"
			"buyer_field";
		grid-template-columns: 1fr;
		gap: 1em;
		margin-bottom: 1em;
	}
	
	.main.stat .middle .center_field .result {
		display: grid;
		grid-template-areas: "res-1" "res-2" "res-3";
		grid-template-columns: 1fr;
		gap: 1em;
	}
	
	.main.stat .middle .center_field .chart .chart-res .percent {
		width: 20%;
		font-size: 1.25em;
		font-family: 'Fors ExtraBold';
	}
	
}