body, html {
	background: #ffffff; 
	font-family: 'Arial', sans-serif;
	padding:2em; 
	margin:0 auto; 
	font-weight: 400; 
	font-style: normal; 
	color:#1A1A1A; 
	line-height:1.2; 
	
}

/* Базовые стили */

img {border:0px;}
a:link{
	color:#03509E;
	text-decoration:none;
	border-bottom:1px solid #03509E;
}
a:hover{
	color:#FFCC00;
	text-decoration:none;
	border-bottom:1px solid #FFCC00;
}
a:visited{
	color:#3781CF; 
	text-decoration:none;
	border-bottom:1px solid #3781CF;
}
a:visited:hover{
	color:#FFCC00; 
	text-decoration:none;
	border-bottom:1px solid #FFCC00;
}
h1 {font-size: 1.6em; font-weight: 700; margin: 0 0 1em 0;}
h2 {font-size: 1.6em; font-weight: 700; margin: 1em 0 1em 0;}
h3 {font-size: 1.2em; font-weight: 700; margin: 1em 0 1em 0;}
h4 {font-size: 1em; font-weight: 700; margin: 1em 0 1em 0;}
p {padding: 0.2em 0px 0.2em 0px;}
textarea {width:100%; height:90px;} 
hr {border-top:1px solid #333333; border-bottom:0px solid #cccccc; margin-bottom:24px; margin-top:24px; clear:both;}
blockquote {border-left:6px solid #333333; margin: 24px 0px; padding-left:12px; font-weight:bold;}
fieldset {margin:10px 0px 10px 0px; padding: 10px; border:1px solid #333333;}
legend {font-weight:bold;}
input {padding:0px; }



.form {
	max-width:600px;
	margin: 0 auto;
}

.user_form {
	padding: 2em;
	border:1px solid #efefef;
	background:#efefef;
	color:#333333;
	border-radius:1em;
}

.user_form input[type=text], .user_form input[type=number] {
	padding:0.5em;
	width:100%;
	display:block;
	border:1px solid #cccccc;
	border-radius:0.5em;
	color:#333333;
}

.user_form input[type=submit]{
	padding:0.5em;
	width:100%;
	display:block;
	border:1px solid #333333;
	background:#333333;
	color:#ffffff;
	margin:0 auto;
	width:100px;
	cursor:pointer;
	border-radius:0.5em;
}

.user_form input[type=submit]:hover{
	background:#fdce2b;
	color:#333333;
}

.user_form select {
	padding:0.5em;
	width:100%;
	display:block;
	margin-bottom:0em;
	border:1px solid #cccccc;
	border-radius:0.5em;
	color:#333333;
}

.user_form select option {
	color:#333333;
}

.user_form textarea{
	padding:0.5em;
	width:100%;
	display:block;
	margin-bottom:0em;
	border:1px solid #cccccc;
	height:100px;
	border-radius:0.5em;
	color:#333333;
}

.user_form .field {
	margin-bottom:2em;
} 
.user_form .field .input {
	margin-bottom:0.5em;
} 

.user_form .field .field_title {
	margin-bottom:1em;
	color:#999999;
} 

.user_form .field .checkbox {
	margin-bottom:0.5em;
}

.user_form .field .checkbox label {
	padding:0 0 0 1em;
	font-size:0.9em;
}

.user_form .field .add_user {
	display:inline-block;
	margin-top:1em;
	color:#15a6fb;
	border-bottom:1px dashed #15a6fb;
	cursor:pointer;
}

.user_form .msg {
	color:#999999;
	margin-top:1em;
	text-align:center;
}

.user_form .error {
	color:#cc0000;
	margin-top:1em;
	text-align:center;
}

 