.a4-foto-page {
    width: 297mm;
    height: 210mm;
    position: relative;
}

.foto-block {
    float: left;
    width: 209mm;
    height: 210mm;
    border-top-left-radius: 7mm;
    border-bottom-left-radius: 7mm;
    background-color: #fff;
}

.title-foto-container {
    padding: 10mm 2mm 10mm 10mm;
    width: 190mm;
}

.title-foto {
    font-size: 32pt;
    line-height: 32pt;
    color: #255ba9;
    margin-bottom: 10mm;
}

.foto-Text {
    font-size: 20px;
    line-height: 20px;
    color: #224e85;
    margin-bottom: 10mm;
}

.topFoto-left {
    float: left;
    width: 85mm;
    height: 60mm;
    margin-right: 4mm;
    border-radius: 4mm;
}

.topFoto-rightQr {
    float: left;
    width: 85mm;
    height: 60mm;
    margin-right: 4mm;
    border-radius: 4mm;
    background: #224e85 url(img/fotoFon.jpg) no-repeat center;
    background-size: cover;
}

.topFoto-rightText {
    float: left;
    width: 35mm;
    height: 18mm; 
    margin-left: 3mm;  
    color: #fff;
    padding: 3mm 4mm 3mm 4mm;
    border-radius: 2mm;
    line-height: 1em;
    background: linear-gradient(145deg, rgba(41, 124, 207, 1) 0%, rgba(50, 170, 240, 1) 52%, rgba(26, 91, 175, 1) 100%);
}

.fotoQr {
    float: left;
    margin: 28mm 0 0 0mm;
    width: 85mm;
    border-radius: 4mm;
    color: #fff;
   
}

.fotoImgQr {
    float: left;
    padding: 2mm 7mm;
    margin-left: 2mm;
    width: 20mm;
    height: 20mm;
    border-radius: 2mm;
    background: linear-gradient(145deg, rgba(41, 124, 207, 1) 0%, rgba(50, 170, 240, 1) 52%, rgba(26, 91, 175, 1) 100%);
}

.bttomFoto-left {
    float: left;
    width: 85mm;
    height: 85mm;
    margin-top: 4mm;
    margin-right: 4mm;
    border-radius: 4mm;
}

.topFoto {
    border-radius: 4mm;
    width: 85mm;
    height: 60mm;
}



.fotoText {
    float: left;
    margin: 0 0 4mm 4mm;
    padding: 6mm 4mm;
    width: 35mm;
    height: 18mm;
    color: #fff;
    text-align: center;
    border-radius: 4mm;
    background: linear-gradient(145deg, rgba(41, 124, 207, 1) 0%, rgba(50, 170, 240, 1) 52%, rgba(26, 91, 175, 1) 100%);
}

.reviewLogo {
    float: left;
    width: 22mm;
}

.reviewLogoImg {
    width: 18mm;
}

.bottomFoto-block {
    margin-top: 4mm;
}


/* изменения в коде */


.topFotoSq{
    border-radius: 4mm;
    width: 85mm;
    height: 85mm;
}
.rewievFotoQr {
    float: left;
    width: 20mm;
    margin: 2mm 2mm 0 0;
    float: left;
    width: 20mm;
    height: 20mm;
    border-radius: 2mm;
}

.rewievTextQr {
    float: left;
    width: 37mm;
    margin-top: 4mm;
    padding: 0 3mm;
    color:#fff;
}


.block4-rw {
    float: left;
    width: 70mm;
    height: 80mm;
    border-radius: 4mm;
    padding: 4mm 8mm 2mm 8mm;
    background: #f2f2f2ff;
}
.rewiev-Text-block{
    float: left;
    width: 65mm;
    padding: 2mm;
    border-radius: 2mm;
    background: linear-gradient(145deg, rgba(41, 124, 207, 1) 0%, rgba(50, 170, 240, 1) 52%, rgba(26, 91, 175, 1) 100%);
}

.block4-rw-title {
    font-size: 16pt;
    line-height: 16pt;
    margin-bottom: 4mm;
}

.block4-rw-subtitle {
    font-size: 9pt;
    line-height: 9pt;
    margin-bottom: 2mm;
}

.block4-rw-text {
    float: left;
    width: 70mm;
    height: 34mm;
    font-size: 12pt;
    line-height: 13pt;
}