@font-face {
    font-family: 'Fors';
    src: local('TT Fors'), url('../fonts/fors/TT_Fors_Regular.woff2') format('woff2'), url('../fonts/fors/TT_Fors_Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Fors ExtraBold';
    src: local('TT Fors ExtraBold'), url('../fonts/fors/TT_Fors_ExtraBold.woff2') format('woff2'), url('../fonts/fors/TT_Fors_ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}


body,
html {
    background: #ffffff;
    font-family: 'Fors';
    padding: 0px;
    margin: 0 auto;
    font-weight: 400;
    font-style: normal;
    color: #1A1A1A;
    line-height: 1.2;

}

/* Базовые стили */

img {
    border: 0px;
}

a:link {
    color: #78039e;
    text-decoration: none;
    border-bottom: 1px solid #78039e;
}

a:hover {
    color: #FFAE00;
    text-decoration: none;
    border-bottom: 1px solid #FFAE00;
}

a:visited {
    color: #0537c8;
    text-decoration: none;
    border-bottom: 1px solid #0537c8;
}

a:visited:hover {
    color: #FFAE00;
    text-decoration: none;
    border-bottom: 1px solid #FFAE00;
}

h1 {
    font-size: 2em;
    font-weight: 800;
    margin: 0 0 1em 0;
    font-family: 'Fors ExtraBold';
}

h2 {
    font-size: 1.6em;
    font-weight: 800;
    margin: 1em 0 1em 0;
    font-family: 'Fors ExtraBold';
}

h3 {
    font-size: 1.2em;
    font-weight: 800;
    margin: 1em 0 1em 0;
    font-family: 'Fors ExtraBold';
}

h4 {
    font-size: 1em;
    font-weight: 800;
    margin: 1em 0 1em 0;
    font-family: 'Fors ExtraBold';
}

p {
    padding: 0.2em 0px 0.2em 0px;
}

textarea {
    width: 100%;
    height: 90px;
}

hr {
    border-top: 1px solid #333333;
    border-bottom: 0px solid #cccccc;
    margin-bottom: 24px;
    margin-top: 24px;
    clear: both;
}

blockquote {
    border-left: 6px solid #333333;
    margin: 24px 0px;
    padding-left: 12px;
    font-weight: bold;
}

fieldset {
    margin: 10px 0px 10px 0px;
    padding: 10px;
    border: 1px solid #FFAE00;
}

legend {
    font-weight: bold;
}

input {
    padding: 0px;
}

/* Страница ошибки доступа */

.error {
    padding: 2em;
    text-align: center;
}

.error a {
    border: 0;
}

.error img {
    margin: 2em;
}

/* Шапка */

.loading_trnslt {
    position: relative;
}

.loading_trnslt:before {
    position: absolute;
    top: -16px;
    left: -4px;
    content: "";
    z-index: 2;
    background: url("/project/webroot/images/trnslt_loading.png") no-repeat;
    background-size: 24px;
    width: 24px;
    height: 24px;
}

.print_btn {
    float: right;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAbBJREFUSEvllsFOE1EUhv//tkqiJEybwIyrlrYJSaMLl2UlCSzxGXgG3OiKsmOjz9Bn0CUksoKlC0kTklLLimkX7ZCoES33N4UWpm0sThsixFlNZs69X865937nEoNPLjflfG0XJBMf+jfiA2nbwXR8H5XKWTiMg2OcJ6l1iG+jTH4VS70KTo7fjQZ46SKADcmsRIGQdhvAZuDXOuOvmUMZdAGBXxvKbhTQ8dL6d4CEm3lmjX1NaA5CBmAG1E6UEkFcBlQFURXYMNZsterVz5ydzU//in07ghiD0SdYzojWI3kYBSBpgTI+jE5h+RxU+8H54xyTc6mCNdyj+LJV//IhyqR/ik2486ui3hurRTpe+gWAjwCWAr+2+zcAx0uvSVrrxJIsBX6tNOOmdnvv4TnvJuCmLCfO4D8HdLatqKIMzU2l6HOOlaVYbDaO90eugdN10Xgn+VJ2fYDBg9YDTCK7voPWVUUFYvxCFV0XjQe4dFFPFVP6kb1QcsLNPrXm/E1YdpMBTJ3oyO7oYLij3ct+EN5uvUW+vZZ5200f+fxDp/l9caxrS/LRHsrln+GK/AZtaysYM3ZxGwAAAABJRU5ErkJggg==") no-repeat left center;
    padding: 0 0 0 36px;
    height: 24px;
    cursor: pointer;
    margin-top: 1em;
}

.send_report {
    float: right;
    height: 24px;
    cursor: pointer;
    margin-top: 1em;
    margin-right: 2em;
    color: #0537C8;
    border-bottom: 1px dashed #0537C8;
}

.show-menu-btn {
    position: fixed;
    top: 4.5em;
    left: calc(100% / 6 - 1em);
    width: 2em;
    height: 2em;
    background: #05CC05 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAA7DAAAOwwHHb6hkAAAAn0lEQVR4nN3USw5AMBSF4UZsxArMmXuvwzqsSSSYMWAb7KTOjQ5M6K0KiZv8s+ZLH0ldKaV4ctxHtV+CAapQiVZbMEStbhEXDBTmoFyc7I4LEtYdsNFmh0aYDvQURhOjSYfpwFtzBS4oEftj9KhAgw1IM6NUoQ0H5RzZCOXeIaGZQmvki/1KboM09Mp0pxU6/fNMX5l2Gl0t+Py3eR/cAGPKIBFXnmNjAAAAAElFTkSuQmCC") no-repeat center center;
    z-index: 1;
    cursor: pointer;
    border-radius: 2em;
}

.show-menu-btn.left {
    background: #05CC05 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAA7DAAAOwwHHb6hkAAAA5UlEQVR4nM2T0Q2CQBBEOUMhWoG/xgJU1KKowzKMifiHHxC7gE5wNh5kPY9hw5ebTCDczNu93JF2XZfEyjk3vIcetpZGaRE4a6zXRoFi0pPoIFujE86BMuASusCUw1xboQwozg1UIJjBXFmgDNhAB+gOPRA8I1gS/yRQSraaeeith+pT1dNZgBKoZcsaimcZg00dyhDw0KOHXqE1vjUhjE4Ydg/q65abLnYQ2PrpFtAJzdoYjAKVUWBFD4OeY7+hZcIf2ISfAlceJrWHKuI1AWVfLyhPPvfRVAzYQjsryAKcVf8PfANNZ3+ywQr1NQAAAABJRU5ErkJggg==") no-repeat center center;
    left: calc(100% / 18 - 1em);
}

body {
    display: grid;
    grid-template-areas: "header main main main main main";
    grid-template-columns: repeat(6, 1fr);
    font-size: 1.0em;
}

body.menu-hide {
    display: grid;
    grid-template-areas: "header main main main main main main main main main main main main main main main main main";
    grid-template-columns: repeat(18, 1fr);
}

body.menu-hide .header .wrap {
    display: none;
}

body.menu-hide .header .wrap4collapse {
    padding: 2em;
    display: block;
    position: relative;
    z-index: 0;
}



.header .wrap4collapse .comp_name {
    margin: 0.25em 0.5em 0em 0.5em;
    text-align: center;
}

body.menu-hide .header .wrap4collapse .comp_name {
    display: none;
}


body.menu-hide .header .nav div {
    margin-bottom: 1em;
}

body.menu-hide .header .nav div a {
    border: 0;
}

body.menu-hide .header .nav div img {
    width: 28px;
    height: auto;
}

