@media (max-width: 1220px) {

    .main_page_exponent .description_block {
        flex-direction: column;
        gap: 2em;
    }

    .main_page_exponent .description_block-about,
    .main_page_exponent .description_block-contakt {
        width: 100%;
    }

    .main_page_exponent .mark_subtitlePf,
    .main_page_exponent .category_subtitlePf {
        padding-left: 0;
    }

    .main_page_exponent .title-block {
        flex-direction: column;
    }

    .main_page_exponent .profile_logo {
        margin: 2em 0;
        max-width: 6em;
    }

    .profile_pagePF .data_form .field-ttl {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 100%;
    align-items: flex-start;
    }
}







@media (max-width: 1199px) {

    .headerPF .headerPF__menu {
        padding: calc(var(--base-gap) * 1.5) calc(var(--base-gap) * 2.75);
    }

    .headerPF .headerPF__logo-img {
        width: 256px;
        margin-right: 32px;
    }

    .main_page_exponent {
        padding: 2em;
    }

    .main_page_exponent_grid {
        padding: 4em 2em;
        border-radius: 2em;
        gap: 0;
    }

    .main_page_exponent .gallery_subtitlePf,
    .main_page_exponent .mark_subtitlePf,
    .main_page_exponent .prise_subtitlePf,
    .main_page_exponent .category_subtitlePf,
    .main_page_exponent .category_subtitlePf-main,
    .main_page_exponent .section_subtitlePf, 
    .main_page_exponent .mainPage_subtitlePf{
        font-size: 1.4em;        
    }

.main_page_exponent .profile_pagePF .data_form .field-group-ttl {
        font-size: 1.4em;
    }
    .main_page_exponent .title-Company {
        font-size: 2.5em;
    }

    .main_page_exponent .video-item { 
    min-width: 100%;
    }

}

@media (max-width: 1020px) {
    .headerPF .headerPF__block {
        margin: 0;
        /*изменение */
        display: flex;
        flex-direction: column;
    }

    .header .headerPF__top {
        flex-direction: column;
        gap: 16px;
    }

    .header .headerPF__logo {
        align-self: start;
    }

    .header .headerPF__logo-img {
        margin-bottom: 2em;
    }


    .header .headerPF__list-top {
        align-self: end;
        justify-content: flex-start;
        /*изменение */
        gap: 2em 1em;
    }


   .header .headerPF__menu {
        margin: 0 calc(var(--base-gap) * -4);
        border-radius: 0;
        padding: calc(var(--base-gap) * 2) calc(var(--base-gap) * 2.75);
    }

    .main_page_exponent_grid {
        grid-template-areas: 
    "center_field"
    "left_bar";
       grid-template-columns: 1fr;    
        gap: 2em;
    }

    .main_page_exponent .video-item { 
         min-width: calc((100% - 1em) / 2);
    }
    
    .lang {
        text-align:center;
    }

    .header {
        padding: 0 1em;
        grid-template-areas:
            "logo topmenu"
            "user_menu user_menu"
            "header_top_pic header_top_pic"
            "menu menu"
            ;
        grid-template-columns: 1fr 1fr;
        gap:0.5em;
    }

    .header .logo {
        grid-area: logo;
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        align-items: start;
        justify-content: center;
    }

    .header .logo .pic {
        width: 30%;
    }

    .header .logo .pic img {
        width: 100%;
    }

    .header .logo .ttl {
        font-size: 0.8em;
        width: calc(70% - 2em);
    }

    .header .logo .version {
        text-align:center;
        display:none;
    }

    .header .topmenu {
        grid-area: topmenu;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        gap: 0.5em;
    }

    .header .topmenu .qr {
        margin: 0;
        width: 70px;
    }

    .header .topmenu .qr_title {
        font-size:0.9em;
    }

    .header .topmenu .info {
        display:none;
    }

    .header .user_menu {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap:0.5em;
    }

    .header .header_top_pic {
        display:none;
    }

    .header .header_top_pic img {
        width:100%;
    }

     .main_page_exponent .get_proposal {
        display: flex;
        flex-direction: column;
        gap: 2em;
        padding: 2em;
    }
	
   .main_page_exponent .profile_pagePf {
    padding: 1em;
    }

    .main_page_exponent .profile_pagePf .field input[type=file] {
    padding: 0.5em;    
    width: 100%;
    }

    .main_page_exponent .left_bar {
        justify-content: center;
    }

    .main_page_exponent .left_bar .menu {
        gap: 1em;
        display: none;
        position: fixed;
        top: 3em;
        left: 0;
        background:var(--pfGrey);
        color: #fff;
        padding: 2em 1em;
        z-index: 50;
    }
    .main_page_exponent .left_bar .menu  >div a{
        color: #fff;
    }

    .main_page_exponent .left_bar .collapse_menu {
        display: block;
        width: 3em;
        height: 3em;
        background: #efefef url(../img/burger_menu.svg) no-repeat;
        background-size: cover;
        position: fixed;
        top: 0;
        left: 0;
    }

    .main_page_exponent .banner_block {
        justify-content: center;
    }
}

@media (max-width: 750px) {

    .header .headerPF__block {
        padding: 2em 1em;
    }

    .header .headerPF__top {
        gap: 2em;
        margin-bottom: 0;
    }

    .header .headerPF__logo {
        justify-content: flex-start;
        align-self: flex-start;
        flex-wrap: wrap;
    }


    .header .headerPF__logo-img {
        margin: 0;
    }

    .header .headerPF__link-top {
        color: #fff;
    }

    .header .headerPF__link-top:hover {
        color: var(--base-color-1);
    }

    .main_page_exponent .title-block {
        padding: 2em 1em;
        border-radius: 1em;
    }

    .main_page_exponent .title-Company {
        font-size: 1.5em;
    }


        .main_page_exponent {
        padding: 1em;
    }

    .main_page_exponent_grid {
        padding: 2em 1em;
        border-radius: 1em;
    }

    .main_page_exponent .profile_pagePF .data_form .field-ttl {
        grid-template-columns: 1fr;
        gap: 0.5em;
    }

    .main_page_exponent .profile_pagePF .data_form input[type="text"],
    .main_page_exponent .profile_pagePF .data_form textarea {
        width: 100%;
        min-width: 100%;
}

    .main_page_exponent .title-text-description .title-number,
    .main_page_exponent .title-text-description .title-sait,
    .main_page_exponent .category-text,
    .main_page_exponent .prise-text {
        font-size: 1.25em;
    }


    .main_page_exponent .mark-text-block,
    .main_page_exponent .prise-text-block,
    .main_page_exponent .category-text-block,
    .main_page_exponent .category-list-block,
    .main_page_exponent .title-text-block {
        flex-direction: column;
        align-items: flex-start;
    }

    .main_page_exponent .title-sait {
        padding: 0.1em 0 0.1em 1.5em;
    }

    .main_page_exponent .profile_logo {
        margin: 2em 0 0 0;
    }

    .main_page_exponent .prise-btn-block,
    .main_page_exponent .category-btn-block,
    .main_page_exponent .title-text-description {
        gap: 1em;
        flex-direction: column;

    }


    .main_page_exponent .description_list-place {
        border-top: 1px solid #fecd4b;
        padding-top: 2em;
        border-left: none;
        padding-left: 0;
    }

    .main_page_exponent .description_contakt {
        flex-direction: column;
    }

    .main_page_exponent .title-KP {
        font-size: 1.5em;
    }


    .main_page_exponent .get_KP {
        margin: 0;
    }

    .main_page_exponent .banner_img {
        max-width: 26em;
    }

    .main_page_exponent .video-item { 
        min-width: 100%;
    }

    .main_page_exponent .profile_pagePf,
    .main_page_exponent .note {
        border-radius: 0.5em;
    }

    .profile_pagePF .save_user_profile {
        align-self: center;
    }

        .main_page_exponent .mark-text-block,
        .main_page_exponent .prise-text-block,
        .main_page_exponent .category-text-block,
        .main_page_exponent .category-list-block,
        .main_page_exponent .title-text-block, 
        .main_page_exponent .get_proposal.peterfood {
    padding: 1em;
    border-radius: 0.5em;
    }
}



@media (any-hover: hover) {

    .header .headerPF__link-top:hover::after {
        width: calc(100% - 1.5em);
        border-bottom-color: var(--pfYelow);
        transform: translateX(-50%);
    }

    .header .headerPF__link-top a:hover::after {
        border-bottom-color: transparent;
    }

    .header .headerPF__link-top:hover {
        color: var(--pfYelow);
    }

    .header .headerPF__link-top a:hover {
        color: #fff;
        background-color: var(--pfYelow);
    }


    .header .open:hover {
        color: var(--pfYelow);
    }

    .headerPF__logo-link:focus-visible {
        outline: 1px solid var(--pfYelow);
        outline-offset: 2px;
    }

    .header .headerPF__link a:focus-visible {
        outline: 1px solid #fff;
        outline-offset: 5px;
    }

    .header .headerPF__link-top a:focus-visible {
        outline: 2px solid var(--pfYelow);
        outline-offset: 5px;
    }

    .main_page_exponent .bread_crumbs a:hover {
        color: var(--pfYelow);
    }

    .main_page_exponent .bread_crumbs a:focus-visible {
        outline: 1px solid var(--pfYelow);
        outline-offset: 5px;
    }

    .main_page_exponent .edit_btn:hover,
    .main_page_exponent .video-btn:hover,
    .main_page_exponent .profile_pagePF .save_user_profile:hover {
        background-color: var(--pfGrey);
        border-color: var(--pfYelow);
        color: #fff;
    }

}


